.login {
  background: var(--fg);
  min-height: 100vh;
  padding: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login h2 {
  font-size: 30px;
  font-weight: 500;
}

.login .fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login .main .inp {
  width: 500px;
  height: 60px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 10px;
  /* outline: 2px var(--blue); */
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0px 0px 8px #ccc;
  gap: 5px;
  position: relative;
}

.login .main .inp input {
  border: none;
  flex: 1;
  outline: none !important;
  font-size: 20px;
}
.login .main .inp svg {
  height: 28px;
  width: 28px;
  fill: var(--blue);
  cursor: pointer;
}

.login .fields .btn_classic {
  width: 500px;
  height: 60px;
  font-weight: 700;
}

.login .main > p {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}
.login hr {
  flex: 1;
  border: 1px solid #ddd;
}

.login .sign_in_options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .sign_in_options div {
  display: flex;
  gap: 20px;
}

.login .sign_in_options button {
  cursor: pointer;
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 4px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 8px #ccc;
  background: var(--bg);
  transition: all 0.3s var(--bc);
}
/* .login .sign_in_options button:first-child{
background: white;
    border: 2px solid var(--blue);
    color: var(--blue);
    transition: all 0.3s var(--bc);

}
.login .sign_in_options button:last-child{
    background: white;
        border: none;
        color: white;
        background-color: var(--blue);
        transition: all 0.3s var(--bc);
} */

.login .sign_in_options button:hover {
  background: white;
  border: none;
  color: white;
  background-color: var(--blue);
}
.login .sign_in_options button svg {
  height: 30px;
  width: 30px;
}

.login .links {
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.login .links span {
  color: var(--blue);
  cursor: pointer;
}

.login .error {
  position: absolute;
  top: 50%;
  display: flex;
  gap: 5px;
  transform: translateY(-50%);
  align-items: center;
  justify-content: left;
  left: 102%;
  width: 500px;
  background-color: white !important;
  color: black;
  margin: 0;
}
.login .error div {
  background: #fff;
  border-radius: 4px;
  left: 40px;
  max-width: 300px;
  padding: 10px;
  position: absolute;
  filter: drop-shadow(0px 0px 4px #1114);
  opacity: 0;
  transition: all 0.1s var(--bc);
  animation: show_hide 3s linear forwards;
}
@keyframes show_hide {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.login .error svg {
  fill: var(--error) !important;
}

.login .error div.show {
  opacity: 1 !important;
}
.login .error div::before {
  content: "";
  width: 0;
  display: block;
  border: 10px solid transparent;
  border-right-color: white;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.login .server_error {
  color: var(--red);
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font2);
  width: 500px;
  text-align: center;
}

.terms_and_condition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
