.mobile_auth {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #fcfcfc;
}

.mobile_auth .container {
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
}

.mobile_auth .container img {
  height: 50px;
  margin-bottom: 30px;
}

.mobile_auth .registration_form {
  display: flex;
  flex-direction: column;
  gap: 3px 0px;
  margin-top: 20px;
}

.mobile_auth .container .inp {
  height: 50px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0px 0px 8px #ccc;
  position: relative;
}

.mobile_auth .container input {
  border: none;
  flex: 1;
  outline: none !important;
  font-size: 16px;
}

.mobile_auth .container svg {
  height: 25px;
  width: 25px;
  fill: var(--blue);
  cursor: pointer;
}

.mobile_auth .btn_classic {
  width: 100%;
  height: 50px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 4px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 8px #ccc;
  background: var(--blue);
  transition: all 0.3s var(--bc);
}

.mobile_auth .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 16px;
}
.mobile_auth .links span {
  color: var(--blue);
  cursor: pointer;
}

.mobile_auth .container .hr_line {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
}

.mobile_auth .container hr {
  flex: 1;
  border: 1px solid #ddd;
}

.mobile_auth h3 {
  font-size: 20px;
  font-weight: 400;
}

.mobile_auth .sign_in_options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_auth .sign_in_options div {
  display: flex;
  column-gap: 20px;
}

.mobile_auth .sign_in_options button {
  cursor: pointer;
  height: 45px;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 4px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 400;
  border: none;
  box-shadow: 0px 0px 8px #ccc;
  background: var(--bg);
  transition: all 0.3s var(--bc);
}

.mobile_auth .sign_up_cont {
  margin-top: 20px;
}

.terms_and_condition_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.terms_and_condition_mobile p {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  padding: 0px;
  margin: 0px;
}
