.image-paragraph-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.image-paragraph-container .image-container {
  object-fit: cover;
}

.image-paragraph-container .image-container .img {
  width: 250px;
  height: 250px;
}

.image-paragraph-container .paragraph-container {
  flex: 1;
  margin-left: 20px;
}

.reverse-img {
  flex-direction: row-reverse;
}


/* // make it mobile responsive */

@media (max-width: 768px) {
  .image-paragraph-container {
    flex-direction: column;
  }
  .image-paragraph-container .paragraph-container {
    margin-left: 0;
  }
  .reverse-img {
    flex-direction: column;
  }
}