._user_info .in {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
._user_info .r-- {
  flex-direction: row;
  max-width: unset;
  justify-content: space-between;
  flex-wrap: wrap;
}
._user_info .r-- > div {
  flex: 1;
  min-width: 300px;
}
._user_info.PF {
  position: static !important;
  height: calc(100vh - 0px);
  overflow-y: scroll;
  justify-content: start;
}
._user_info h2 {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 8px 0;
  gap: 4px;
}

._user_info h2 svg {
  color: var(--blue);
}
._user_info .loading_info {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
