.mobile_user_profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 6px 0px 10px 0px;
}

.mobile_user_profile .list_container .list_items .item_options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile_user_profile .card {
  margin: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px 15px 15px 15px;
  box-shadow: 0px 0px 8px #ccc;
}

.mobile_user_profile .two_col {
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: space-around; */
  min-width: 150px;
  gap: 10px;
}

.mobile_user_profile .two_col div {
  flex: 1 1;
}

.mobile_user_profile .title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.mobile_user_profile .card .form_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile_user_profile .card .image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}

.mobile_user_profile .card .image_container div img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 8px #1116;
  object-fit: cover;
}
.mobile_user_profile .card .image_container .user_avatar_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 8px #ccc;
}

.mobile_user_profile .card .info_cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobile_user_profile .card .info_cont span svg {
  width: 16px;
  height: 16px;
}

.mobile_user_profile .form_container button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  outline: none;
  padding: 0px 15px;
  color: var(--fg);
  border-radius: 4px;
  border: 2px solid var(--blue);
  font-weight: 500;
  font-family: var(--font2);
  background-color: var(--blue);
  width: 100%;
  font-size: 16px;
  box-shadow: 0px 0px 4px #ccc;
}

.mobile_user_profile .card .info_text {
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.mobile_user_profile .card .phone_inp {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  position: relative;
  border: none;
  flex: 1 1;
  outline: none !important;
  font-size: 20px;
}

.mobile_user_profile .card .phone_inp .mobile_input {
  width: 100%;
}

.mobile_user_profile .card .phone_inp ._dropdown_mobile {
  width: 80px;
}


.mobile_user_profile .card .preference {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  margin: 16px 10px;
  gap: 40px;
}
.mobile_user_profile .card .preference p {
  margin: 0;
}
.mobile_user_profile .card .two_col .mobile_btn_outline {
  width: 100% !important;
}

.mobile_user_profile .card .two_col .mobile_btn {
  width: 100% !important;
  height: 46px;
  font-size: 16px;
  font-weight: 500;
}

.mobile_user_profile .single_btn_container {
  display: flex;
  justify-content: flex-end;
}

.mobile_user_profile .card .delete_btn_cont button {
  border: solid 1px var(--red);
  width: 100%;
  font-size: 16px;
  background: var(--red);
  font-weight: 500;
}

.mobile_user_profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile_user_profile .list_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: -10px;
}

.mobile_user_profile .list_items .item {
}

.mobile_user_profile .list_items .item .link {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

.mobile_user_profile .list_items .item .title {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin: 10px;
}

.mobile_user_profile .list_items .item .item_option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px 12px;
  border-top: solid 1px #eceff1;
}

.mobile_user_profile .list_items .item .item_text {
  font-size: 14px;
  font-weight: 500;
}

.mobile_user_profile .list_items .item .item_icon_cont {
}

.mobile_user_profile .list_items .item .item_icon_cont svg {
  width: 16px;
  height: 16px;
}

.mobile_user_profile .card .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_user_profile .card .mobile_saved_searches {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.mobile_user_profile .card .saved_head_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.mobile_user_profile .card .clear_all_btn {
  font-size: 14px;
  background: transparent;
  color: var(--blue);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.mobile_user_profile .card .mobile_saved_searches .saved_search {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 0px 8px #ccc;
  border: 1px solid var(--blue);
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s var(--bc);
}

.mobile_user_profile .card .mobile_saved_searches .query {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 4px;
  flex: 1 1;
  overflow: hidden;
}

.mobile_user_profile .card .mobile_saved_searches .search_row .category {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
}

.mobile_user_profile .card .mobile_saved_searches .search_row .content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex: 1;
}

.mobile_user_profile .card .mobile_saved_searches .search_row  .edit_profile_button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 500;
  color: var(--blue);
}

.mobile_user_profile .card .mobile_saved_searches .search_row .close {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
  flex: 1;
  overflow: hidden;
}

.mobile_user_profile .card .mobile_saved_searches .saved_search hr {
  border: 1px solid #eee;
  height: 80%;
  margin: 0px 10px;
}

.mobile_user_profile .card .mobile_saved_searches svg {
  height: 24px;
  width: 24px;
  fill: var(--blue);
}

.mobile_user_profile .card .mobile_saved_searches .search_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--blue);
  padding: 12px 8px;
  border-radius: 2px;
  transition: all 0.3s var(--bc);
}
.mobile_user_profile .card .mobile_saved_searches .search_row:active {
  background-color: var(--blue);
  color: white;
}
.account .profile_card {
  box-shadow: 0px 0px 8px #ccc;
  background: #fff;
  border-radius: 4px;
  padding: 16px 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.account .profile_card .main {
  display: flex;
  overflow: hidden;
  gap: 15px;
  padding: 10px;
}

.account .profile_card img {
  height: 75px;
  width: 75px;
  box-shadow: 0px 0px 4px #ccc;
  border-radius: 50%;
}

.account .profile_card .profile_card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.account .profile_card .profile_card_info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
}

.account .profile_card .profile_card_info h3 span {
  font-size: 15px;
  color: #444;
  font-weight: 500;
}

.account .profile_card .profile_card_info p {
  margin: 0;
  color: #777;
  font-size: 14px;
  font-weight: 500;
}

.account .profile_card button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: var(--blue);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
  transition: all 0.3s var(--bc);
  font-family: var(--font2);
}

/* .account .profile_card button:active {
  background: var(--blue-dark);
} */

.account .menu_option {
  display: flex;
  height: 45px;
  align-items: center;
  gap: 4px;
  color: #444;
  font-weight: 500;
  font-size: 16px;
  padding: 0 20px;
  transition: background 0.3s var(--bc);
  background-position: center center;
}

.account .account_menu {
  margin-top: 8px;
  background: #fff;
  padding: 8px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ccc;
  width: 100%;
}

.account .account_menu hr {
  width: 90%;
  border-color: #eee;
  border: 1px solid #eee;
}

.account .account_menu svg {
  fill: var(--blue);
  height: 28px;
  width: 28px;
}

.account .menu_option:active {
  /* background-color: #eee; */
  background-color: #eee;
  background-size: 100%;
}

.account {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
#btn_vaep_1 {
  display: none;
}



@media (max-width: 1024px) {
  .profile_container .profile {
    width: 100%;
    min-width: none;
    max-width: none;
    box-sizing: border-box;
    margin: 0;
  margin-bottom: 10px;

    position: static;
    height: fit-content;
    padding: 20px 10px;
  }
  .profile_container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: fit-content;
    flex-direction: column;
  }
  .profile .profile_image {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile .profile_image_main {
    height: 150px;
    width: 150px;
  }
  .profile .info_line {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 15px;
    gap: 8px;
    justify-content: space-between;
    padding: 0px 6px;
    width: 100%;
    font-weight: 600;
    color: #444;
  }
  .profile .hr {
    width: 90%;
    margin: 0;
  }
  .profile .actions .edit_profile_button{
    background-color: var(--blue) ;
    font-weight: bold;


  }
  .profile .actions {
    padding: 0px;
  }

  .profile .actions .edit_profile_button :active{
    cursor: pointer;
    color: #fff;
    background-color: var(--blue-dark);
    transition: all 0.33s var(--bc);

  }
  .profile .actions .edit_business_button {
    background: #fff;
    border: 1px solid #666;
    color: #666;
    font-weight: bold;
  }
  
  .profile .name {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font2);
    text-align: center;
    padding: 0px 20px;
    margin: 8px 0;
  }
}
.mobile_user_profile .actions {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}
.mobile_user_profile .actions .red {
  background-color: var(--red);
  border-color: var(--red);
}
