.profile_container > .main {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 80vw;
  margin: auto;
  gap: 16px;
  margin-top: 130px;

  padding-bottom: 0;
}

.manageAds h2 {
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.manageAds h2 svg {
  fill: var(--blue);
  height: 22px;
  width: 22px;
}
.profile_container .tabs hr {
  margin: auto;
  flex: 100;
  border: NONE;
  background-color: transparent;
}
.manageAds h2:hover svg {
  fill: white;
}
.profile_container .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--fg);
  border-radius: 4px;
  box-shadow: 0 0 8px #ccc;
  min-width: 384px;
  max-width: 384px;
  position: sticky;
  top: 20px;
  padding: 20px 0 40px;
}
.profile_container .user_ads {
  border-radius: 4px;
  box-sizing: border-box;
  flex: 1;
}

/* .blob_1 {
  position: absolute;
  background-image: url(../../assets/images/blob_1.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 700px;
  width: 600px;
  right: 0;
  z-index: -1;
  top: 0;
}
.blob_2 {
  position: absolute;
  background-image: url(../../assets/images/blob_2.png);
  background-size: 60%;
  background-position: top left;
  background-repeat: no-repeat;
  height: 800px;
  width: 600px;
  left: 0;
  bottom: 0;
  z-index: -1;
} */

.profile .profile_image {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .profile_image_main {
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 8px #1116;
}
.profile .profile_image_main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile .no_results {
  margin-top: 100px;
}

.profile .name {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font2);
  text-align: center;
  padding: 0px 40px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.profile .profile_info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.profile .info_line {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  /* font-size: 16px; */
  gap: 8px;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
  font-weight: 500;
  color: black;
  font-family: var(--font1);
  text-transform: capitalize;
}
.profile .info_line span {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font2);
}

.profile .profile_info svg {
  fill: var(--blue);
  height: 28px;
  width: 28px;
}

.profile hr {
  width: 90%;
  border: 1px solid #eee;
}

.profile .bio {
  width: 100%;
  padding: 0px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #444;
  text-align: center;
  box-sizing: border-box;
}

.profile .actions {
  width: 100%;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  gap: 12px;
  flex-direction: column;
  box-sizing: border-box;
}

.profile .actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  width: 200px;
  border-radius: 4px;
  padding: 12px 20px;
  font-family: var(--font2);
  font-weight: 600;
  box-shadow: 0px 0px 8px #1116;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
}
.profile .actions button:nth-child(2) {
  background: #fff;
  border: 1px solid #666;
  color: #666;
}
.profile .actions button:nth-child(2):hover {
  color: #fff;
  background-color: #666;
}
.profile .actions button:nth-child(1):hover {
  color: #fff;
  background-color: var(--blue-dark);
}

.profile .actions button svg {
  fill: currentColor;
}

.profile .actions button:nth-child(2) svg {
  fill: currentColor;
}

.profile_container .user_ads_heading h1 {
  margin-top: 0;
  font-weight: 500;
  font-size: 32px;
}

.profile .nickname {
  color: #444;
}

.user_ads .user_ads_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.user_ads .user_ads_heading .display_type {
  display: flex;
  height: 50px;
  gap: 10px;
}
.user_ads .user_ads_heading .display_type > div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  filter: drop-shadow(0px 0px 4px #ccc);
  /* border: 2px solid #ccc; */
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.user_ads .user_ads_heading .display_type > div.active {
  /* border: 1px solid var(--blue); */
  background-color: var(--blue);
}
.user_ads .user_ads_heading .display_type > div:hover {
  /* border: 1px solid var(--blue); */
  background-color: var(--blue);
}
.user_ads .user_ads_heading .display_type > div.active svg {
  fill: #fff;
}
.user_ads .user_ads_heading .display_type > div:hover svg {
  fill: #fff;
}
.left {
  position: sticky;
  top: 20px;
  z-index: 999;
}

/* .user_ads .listings {
  grid-gap: 30px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  justify-content: start;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
} */
/* 
.user_ads .row_listings {
  padding: 10px 0 10px;
} */

/* .user_ads .listings .listing {
  background-color: var(--fg);
  border-radius: 4px;
  box-shadow: 0 0 8px #1116;
  box-sizing: border-box;
  max-width: 360px;
  min-width: 360px;
  overflow: hidden;
  transition: all 0.6s var(--bc);
  cursor: pointer;
transform: perspective(1px) scale(0.98); 
  font-size: 15px; 
}*/

.user_ads_heading h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

.user_ads .tabs {
  border-radius: 4px;
  background: white;
  box-shadow: 0px 0px 8px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.user_ads .tabs h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  width: fit-content;
  min-width: 140px;
  transition: all 0.2s var(--bc);
}

.user_ads .tabs h2:hover,
.user_ads .tabs h2.active {
  background-color: var(--blue);
  color: white;
}

@media (max-width: 1600px) {
  .profile_container .main {
    width: 90%;
    gap: 8px;
  }
  .profile_container .profile {
    max-width: 300px;
    min-width: 300px;
    padding: 10px 0 20px;
  }
  .profile_container .profile .profile_image_main {
    height: 150px;
    width: 150px;
  }
  .profile_container .profile .profile_image {
    height: 160px;
  }
  .profile_container .profile .profile_info {
    gap: 12px;
  }
  .profile_container .profile .name {
    font-size: 20px;
    margin-bottom: 0;
  }
  .profile_container .profile .actions {
    padding: 0 20px;
  }
  .wallet > h2,
  ._wallet_add_money > h2 {
    font-size: 22px !important;
  }
  .wallet .wallet_main h1 {
    font-size: 34px !important;
  }
  .wallet .wallet_main .add_money {
    height: 45px !important;
    padding: 10px 16px !important;
    width: 45px !important;
  }
  .wallet .wallet_main .add_money:hover {
    width: 140px !important;
  }
  .profile_container .profile .name {
    font-size: 22px;
    margin-bottom: 0;
  }
  .profile .info_line span {
    font-size: 15px;
  }
  .profile .info_line {
    font-size: 15px;
  }
  .profile .profile_info svg {
    fill: var(--blue);
    height: 24px;
    width: 24px;
  }
}

