.banner {
  box-sizing: border-box;
  padding: 40px;
  width: 80%;
  position: relative;
  height: 400px;
  margin: 40px auto;
}

.banner .main {
  background: #1c82d8;
  bottom: 0;
  height: 75%;
  left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  padding: 40px 60px;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
}

.banner > img {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
}

.banner .main h1 {
  margin: 0;
  color: var(--fg);
  font-size: 30px;
  width: 650px;
}

.banner .main p {
  font-size: 18px;
  margin: 10px 0;
  width: 650px;
  color: var(--fg);
}

.banner .buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.banner .main img {
  width: 150px;
  position: static;
  height: auto;
  border: 3px solid var(--fg);
  border-radius: 12px;
}
