.cta {
    align-items: center;
    background: #9dccf1;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

.cta_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cta_main h1,
.cta_main p {
  margin: 0;
}

.cta .btn_classic {
  font-size: 24px;
  padding: 24px 36px;
}
