.header {
  display: flex;
  background-image: url(../../assets/images/img.png);
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  min-height: 900px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .header-mask {
  background: linear-gradient(1turn, #0d47a1, #082d66);
  height: 100%;
  left: 0;
  opacity: 97%;
  position: absolute;
  top: 0;
  width: 100%;
}
.header main {
  color: var(--fg);

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  gap: 60px;
  padding: 0px 10%;

  height: fit-content;

  width: 100%;
  margin-top: 100px;
  z-index: 10;
}
.header .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header .heading h1 {
  font-size: 64px;
  font-weight: 900;
  font-family: var(--font2);
  margin: 0;

  text-shadow: 2px 2px 8px #1118;
}
.header .heading p {
  margin: 0;
  font-size: 24px;
  font-family: var(--font2);
}

.header .cards {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: 200px;
}

.header .card {
  border-radius: 4px;
  overflow: hidden;
  height: 200px;
  min-width: 320px;
  position: relative;
  flex: 1;
  box-shadow: 0px 0px 10px #111a;
  overflow: hidden;
  cursor: pointer;
}

.header .card > div {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  background: #2225;
  opacity: 0;
  transition: all 0.6s var(--bc);
  overflow: hidden;
}
.header .card > div.hover {
  opacity: 1;
}

.header .card p {
  margin: 0;
}
.header .card img {
  height: 110%;
  left: -5%;
  object-fit: cover;
  top: -5%;
  position: absolute;
  -webkit-transform: perspective(1px) scale(0.91);
  transform: perspective(1px) scale(0.91);
  transition: all 0.6s var(--bc);
  width: 110%;
}

.header .card img.hover {
  transform: scale(1);
}

.Home .featured {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.Home .featured > h1 {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.Home .featured h1 svg {
  height: 30px;
  width: 30px;
  fill: var(--blue);
}

.featured .load_more {
  margin: 30px auto;
  display: flex;
  background: var(--blue);
  border: 1px solid var(--blue);
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #1114;
  padding: 12px 24px;
  color: white;
  font-family: var(--font2);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}

.featured .load_more:hover {
  background: var(--blue-dark);
}
@media (max-width: 1600px) {
  .header main {
    padding: 0 5%;
  }
  .Home .featured {
    width: 90%;
  }
}

.Home .no_results {
  margin: 60px 100px 180px;
}
