.my_account {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.my_account .border_cont {
}

.my_account .pass_cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #fff;
  padding: 40px;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 4px;
}

.my_account .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
  min-width: 800px;
  margin: auto;
}

.my_account .label_col h4 {
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}

.my_account .field_col {
  width: 500px;
  height: 60px;
}

.my_account .change_btn {
  width: 300px;
  padding: 0;
  height: 60px;
  margin-left: 200px;
  font-size: 20px;
  font-weight: 600;
}

.delete_cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
}

.my_account .delete_btn {
  width: 300px;
  padding: 0;
  height: 60px;
  margin-left: 200px;
  font-size: 20px;
  font-weight: 600;
}

.my_account input {
  height: 56px;
}
