.messages_page {
  width: 100%;
  padding-top: 100px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.messages_page .main {
  width: 100%;
  padding: 40px 10%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

.messages_page .main .content {
  z-index: 1;
  padding: 0px;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 10%;
  gap: 16px;
  right: 10%;
  display: flex;
}

.messages_page .main .chats {
  width: 440px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  position: relative;
  box-shadow: -1px -1px 8px #ccc, 1px 1px 8px #ccc;
}

.messages_page .main .chats .heading {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  height: 30px;
  align-items: center;
  height: 70px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 20px;
  z-index: 10;
}

.messages_page .main .chats .heading svg {
  height: 28px;
  width: 28px;
  fill: var(--blue);
  cursor: pointer;
}
.messages_page .main .chats .heading .action {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s var(--bc);
  position: relative;
  right: -10px;
}

.messages_page .main .chats .heading .action:hover {
  background-color: #1111;
}

.messages_page .main .chats .chat {
  height: 106px;
  overflow: hidden;
  display: flex;
  gap: 20px;
  align-items: center;
  background: white;
  padding: 10px 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s var(--bc);
  border-bottom: 1px solid #eee;
}
.messages_page .main .chats .chat:hover,
.messages_page .main .chats .chat.active {
  background-color: #eee;
}

/* .messages_page .main .chats img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
} */

.messages_page .main .name {
  font-weight: 500;
  font-size: 17px;
}

.messages_page .main .chat .name {
  gap: 20px;
  justify-content: space-between;
  display: flex;
}
.messages_page .main .name .time {
  right: unset;
}

.messages_page .main .nickname {
  color: #777;
}

.messages_page .main .chats .chats_main {
  flex: 1;
  overflow-y: auto;

  /* padding-right: 2px; */
}

.messages_page .chats_main .lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.messages_page .main .messaging_area {
  flex: 1 1;
  height: 100%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  box-shadow: -1px -1px 8px #ccc, 1px 1px 8px #ccc;
}

.messages_page .no_chat_selected {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  /* font-weight: 500; */
  height: 100%;
  flex-direction: column;
  color: #555;
}

.messages_page .no_chat_selected > div {
  width: 400px !important;
  height: 360px !important;
  aspect-ratio: 1 / 1 !important;
  margin: -50px !important;
  transform: scaleY(0.9);
}
.messages_page .no_chat_selected svg {
  fill: var(--blue);
  height: 200px;
  width: 200px;
}

.messages_page .messaging_area .name {
  font-size: 20px;
  cursor: pointer;
  color: #000;
}

.messages_page pre {
  font-family: var(--FONT1);
  overflow: hidden;
  font-weight: 500;
  margin: 0;
  width: 100%;
  flex: 1;
  display: flex;
  gap: 5px;
  align-items: center;
}

.messages_page .chat_info {
  display: flex;
  gap: 4px;
  flex-direction: column;

  flex: 1;
  width: 50%;
  position: relative;
  top: -2px;
}

.messages_page .last_message {
  color: #777;
  font-size: 15px;
}
.messages_page .messaging_area .heading {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 20px 0 20px;
}
.messages_page .messaging_area .heading .actions {
  display: flex;
  z-index: 20;
  position: relative;
  left: 10px;
}

.messages_page .messaging_area .heading .actions .action {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 -2px;
  transition: all 0.3s var(--bc);
  color: var(--blue);
}
.messages_page .messaging_area .heading .actions .action:hover {
  background-color: #1111;
}
.messages_page .messaging_area .heading .actions .action svg {
  height: 25px;
  width: 25px;
}
.messages_page .messaging_area .heading .info {
  display: flex;
  gap: 8px;
  align-items: center;
}
.online_status.active {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #00a000;
}
.online_status.inactive {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #aaa;
}

.messages_page .messaging_area .messages {
  flex: 1 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  padding: 50px 20px;
  box-shadow: inset 1px 1px 4px #1112, inset -1px -1px 4px #1113;
  position: relative;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 4px;
  box-sizing: border-box;
}

.messages_page .messaging_area .messages .message {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 22px;
  background: #eee;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 48px;
  margin-right: 48px;
  min-height: 40px;
  box-sizing: border-box;
  font-family: var(--font2);
  max-width: 600px;
  box-shadow: 1px 1px 2px #eee, -1px -1px 2px #eee;
  overflow: hidden !important;
  display: flex;
  border: 1px solid #ddd;
  display: inline-block;
  word-wrap: break-word;
  position: relative;
}

.messages_page .messaging_area .messages .message.image {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.messages_page .messaging_area .messages .message_container.new {
  animation: 0.2s modal_open var(--bc);
  transform-origin: bottom center;
}

@keyframes modal_open {
  0% {
    transform: translateY(40px) scaleY(0) scaleX(0.6);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) scaleY(1) scaleX(1);
    opacity: 1;
  }
}
.messages_page .messaging_area .messages .message_container {
  gap: 5px;
  display: flex;
  position: relative;
  margin: 0;
  align-items: center;
  max-width: 80%;
}

.messages_page .messaging_area .messages .message_container > img {
  height: 42px;
  width: 42px;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: -1px -1px 4px #1114, 1px 1px 4px #1114;
  border-radius: 50%;
  transition: all 0.3s var(--bc);
  object-fit: cover;
}
.messages_page .messaging_area .messages .message_container.from img {
  left: unset;
  right: 0;
}
.messages_page .messaging_area .messages .message_container.from {
  align-self: end;

  margin: 0;
}

.messages_page .messaging_area .message.from {
  background: var(--blue) !important;
  color: #fff;
  border: 1px solid var(--blue);
  box-shadow: 1px 1px 2px #1114, -1px -1px 2px #1114;
  /* margin: unset; */
  /* margin-right: 45px; */
}

.messages_page .messaging_area .message_container.from:hover > img {
  opacity: 0;
}

.messages_page .messaging_area .send_message_area {
  display: flex;
  align-items: end;
  gap: 8px;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 20px;
  max-height: 500px;
}

.messages_page .messaging_area .send_message_area .inp {
  flex: 1 1;
  min-width: 500px;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 26px;
  border: 1px solid var(--blue);
  display: flex;
  padding: 9px 24px;
  box-sizing: border-box;
  transition: all 0.3s var(--bc);
  align-items: center;
  /* justify-content: center; */
  padding-right: 10px;
  overflow: hidden;
  max-height: 500px;
}

.messages_page .messaging_area .send_message_area * {
  transform: all 0.3s var(--bc);
}

.messages_page .gap {
  margin-top: 10px !important;
}

.messages_page .messaging_area .send_message_area .inp input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 18px;
}

.messages_page button.send {
  background: none;
  border: none;
  display: flex;
  background-color: var(--blue);
  height: 52px;
  width: 52px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px #1116;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}

.messages_page button.send:hover {
  background-color: var(--blue-dark);
}
.messages_page button.send svg {
  position: relative;
  left: 2px;
  /* transform: scale(1.1); */
}
.messages_page .top_left_not_round {
  border-top-left-radius: 2px !important;
}
.messages_page .top_right_not_round {
  border-top-right-radius: 3px !important;
}

.messages_page .bottom_left_not_round {
  border-bottom-left-radius: 2px !important;
}
.messages_page .bottom_right_not_round {
  border-bottom-right-radius: 3px !important;
}

.messages_page .main .time {
  position: relative;

  right: 40px;
  font-size: 12px;
  font-family: var(--font1);
  color: #555;

  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.messages_page .time.from {
  right: unset;
  left: 40px;
}

.messages_page .hide {
  opacity: 0;
  transition: all 0.1s var(--bc);
}

.messages_page .chats .heading input {
  height: 36px;
  margin-right: -6px;

  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 17px;
}
.messages_page .message_container:hover .hide {
  opacity: 1;
}

.heading_shadow_box {
  position: absolute;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 4px #ccc;
}

.messages_page .dot {
  height: 7px;
  width: 7px;
  margin-bottom: 10px;
  background: #555;
  border-radius: 50%;
  animation: 0.6s var(--bc) typing_dot infinite;
}
.messages_page .dot:first-child {
  animation-delay: 0.1s;
}
.messages_page .dot:nth-child(2) {
  animation-delay: 0.2s;
}
.messages_page .dot:last-child {
  animation-delay: 0.3s;
}

.messages_page .typing {
  display: flex !important;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

@keyframes typing_dot {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.messages_page .blocked {
  font-weight: 500;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rr {
  position: absolute;
  font-size: 12px;
  right: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2px;
  transform: translateY(-50%);
  transition: all 0.2s var(--bc);
  transform-origin: top;
  border-radius: 50%;
  background: #eee;
  color: #777;
  padding: 4px;
  top: 50%;
  opacity: 0;
}
.rr.read {
  color: var(--blue);
}
.rr.show {
  opacity: 100%;
}

.rr svg {
  height: 18px;
  width: 18px;
}

.messages_page .message_container:hover .rr {
  opacity: 100%;
}

.messages_page .chats .chat .unread {
  font-size: 12px;
  background: var(--blue);
  color: white;
  min-width: 20px;
  border-radius: 26px;
  display: inline-flex;
  justify-content: center;
  padding: 2px 5px;
  font-weight: 600;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0px 0px 4px #ccc;
  margin: 0 5px;
  position: relative;
  bottom: 2px;
}

.messages_page .chat.unread {
  background-color: #2196f318 !important;
}
.messages_page .inp .image_cont {
  border-radius: 10px;
  filter: drop-shadow(0px 0px 8px #ccc);
  margin: 10px;
  /* border: 1px solid #ccc; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4px;
}

.messages_page .inp .image_cont .cancel {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #1116;
  box-shadow: 0px 0px 4px #1116;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages_page .inp .image_cont .cancel svg {
  fill: #fff;
  height: 20px;
  width: 20px;
}

.messages_page .inp .image_cont img {
  object-fit: contain;
  max-height: 300px;
  height: 100%;
  border-radius: 10px;
}
.messages_page .inp svg {
  height: 32px;
  width: 32px;
  fill: var(--blue);
  cursor: pointer;
}

.messages_page .message > img {
  height: 100%;
  object-fit: cover;

  width: calc(100%);
  max-height: 400px;
  background-color: white;
  /* box-shadow: 0px 0px 2px #1116; */
}

.messages_page .last_message svg {
  height: 18px;
  width: 18px;
  position: relative;
  top: 4px;
  margin: 0 2px;
}

.message_img_preview {
  max-width: 80vw;
  max-height: 80vh;
}

.messages_page .ad {
  display: flex;
  height: 80px;
  padding: 0 20px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.messages_page .ad img {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  min-width: 140px;
}

.messages_page .ad .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.messages_page .ad .info .line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  align-items: center;
}

.messages_page .ad .info .line h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: black !important;
  width: 60%;
  overflow: hidden;
}
.messages_page .ad .info .line h3 p {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.messages_page .ad .info .line .price {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
}
.messages_page .ad .info .line .price span {
  color: #444;
  font-weight: 500;
  font-size: 16px;
}

.messages_page .ad .info .line span.view_ad {
  color: var(--blue);
  font-weight: 500;
  cursor: pointer;
}

.messages_page .ad .info .line .location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 18px;
  color: #444;
  font-weight: 500;
}

.messages_page .ad .info .line .location p {
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messages_page .ad .info .line .location svg {
  fill: var(--blue);
}

.messages_page .ad .info .line .ad_id {
  font-size: 18px;
  color: #777;
  font-weight: 500;
}
.messages_page .overview_images {
  position: relative;
  filter: drop-shadow(0px 0px 4px #ccc);
  top: -4px;
}

.messages_page .ad_img {
  height: 66px;
  width: 66px;
  border-radius: 4px;
  object-fit: cover;
}

.messages_page .user_img {
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  height: 40px !important;
  transform: translate(30%, 30%);
  width: 40px !important;
  object-fit: cover;
}

.messages_page .chat .name p {
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
  text-overflow: ellipsis;
  margin: 0;

  white-space: nowrap;
  font-size: 20px;
  overflow: hidden;
}

.messages_page .chat .ad_title {
  font-family: var(--font2);
  font-weight: 500;
  text-overflow: ellipsis;
  margin: 0;
  color: #555;
  white-space: nowrap;
  font-size: 18px;
  overflow: hidden;
}

.messages_page .chat .last_message {
  font-family: var(--font2);
  font-weight: 400;
  color: #777;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;

  white-space: nowrap;
}

.messages_page .show_actions {
  position: absolute;
  background: white;
  width: 150px;
  display: flex;
  flex-direction: column;
  /* padding: 10px 0; */
  top: 50px;
  right: 10px;
  box-shadow: 0px 0px 6px #1118;
  border-radius: 4px;
  opacity: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: all 0.15s var(--bc);
}

.messages_page .show_actions.active {
  opacity: 1;
  transform: scale(1);
}

.show_actions .option {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  color: #444;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 16px;
  cursor: pointer;
}

.show_actions .option:hover {
  background-color: #1111;
}

.show_actions .option svg {
  height: 22px;
  width: 22px;
  fill: var(--blue);
}

.messages_page .messages .lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.messages_page .messages::-webkit-scrollbar,
.messages_page .chats_main::-webkit-scrollbar {
  width: 8px;
  display: block !important;
}

.messages_page .messages::-webkit-scrollbar-track,
.messages_page .chats_main::-webkit-scrollbar-track {
  background: var(--bg);
}

.messages_page .messages::-webkit-scrollbar-thumb,
.messages_page .chats_main::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
  /* border: 3px solid var(--blue); */
}

.messages_page .empty {
  background: linear-gradient(90deg, #1111, #1111, #1112);
  background-size: 300%;
  background-position: left center;
  border-radius: 4px;

  animation: skeleton 1s var(--bc) forwards infinite;
  box-shadow: none;
  border: none;
}

.messages_page .chat.empty .overview_images {
  filter: none;
  top: 0;
  height: 66px;
  width: 66px;
}

.messages_page .chat.empty:hover {
  background-color: #fff !important;
}

.messages_page .chat.empty .name {
  align-items: center;
}

.messages_page .chat.empty .name p {
  height: 21px;
  width: 80%;
}
.messages_page .chat.empty .ad_title {
  height: 19px;
  width: 300px;
}
.messages_page .chat.empty .last_message {
  height: 17px;
  width: 180px;
}
.messages_page .chat.empty .time {
  height: 14px;
  width: 16%;
}

@keyframes skeleton {
  0% {
    background-position: left center;
  }

  90% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}

.messages_page .messages_loader {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.messages_page .messages_loader .line {
  /* height: 45px; */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.messages_page .messages_loader .line.alt {
  justify-content: end;
}

.messages_page .messages_loader .user.empty {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  position: absolute;
}

.messages_page .messages_loader .msg.empty {
  height: 42px;
  margin: 0 50px;
  border-radius: 21px;
}
.messages_page .messages_loader .msg.empty.top {
  border-bottom-left-radius: 4px;
}
.messages_page .messages_loader .alt .msg.empty.top {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 20px;
}

.messages_page .messages_loader .msg.empty.mid {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.messages_page .messages_loader .alt .msg.empty.mid {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.messages_page .messages_loader .msg.empty.last {
  margin-bottom: 10px;
}
.messages_page .messages_loader .msg.empty.last {
  border-top-left-radius: 4px;
}
.messages_page .messages_loader .alt .msg.empty.last {
  border-top-right-radius: 4px;
  border-top-left-radius: 20px;
}

.w-250 {
  width: 250px !important;
}
.w-450 {
  width: 450px !important;
}
.w-350 {
  width: 350px !important;
}
.w-300 {
  width: 300px !important;
}
.w-500 {
  width: 500px !important;
}
.w-150 {
  width: 150px !important;
}
.w-100 {
  width: 100px !important;
}

.w-120 {
  width: 120px !important;
}

.messages_page .loader_cont {
  position: relative;
  min-height: 120px;
}
.message .options {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: inherit;
  height: 40px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  width: 40px;
  padding: 0;
  /* transform: scaleX(0); */
  opacity: 0;
  transition: all 0.2s var(--bc);
  transform-origin: right;
}

.message.from:hover .options {
  /* transform: scaleX(1); */
  opacity: 1;
}
.message.deleted.from:hover .options {
  /* transform: scaleX(1); */
  opacity: 0;
}

.message.image .options {
  background-color: transparent;
}
.message.image .options svg {
  fill: white;
  filter: drop-shadow(0px 0px 8px #1118);
  height: 28px;
  width: 28px;
  opacity: 1;
}
.message_container .actions {
  position: absolute;
  bottom: -40px;
  right: 48px;
  background: white;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  border-radius: 21px;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
  transition: all 0.2s var(--bc);
  z-index: 10;
}
.message_container .actions.active {
  transform: scale(1);
  opacity: 1;
}
.message_container .actions p {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin: 0;
  cursor: pointer;
  color: #555;
  gap: 4px;
  font-weight: 500;
}
.message_container .actions p svg {
  fill: #555;
  height: 18px;
  width: 18px;
}
.messages_page .messaging_area .message.deleted {
  background: white !important;
  color: black;
  border: 1px solid #ccc;
  box-shadow: none;
}

@media (max-width: 1600px) {
  .messages_page .main .content {
    z-index: 1;
    padding: 0px;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 5%;
    gap: 16px;
    right: 5%;
    display: flex;
  }
  .messages_page .main .chats {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    position: relative;
    box-shadow: -1px -1px 8px #ccc, 1px 1px 8px #ccc;
  }
  .messages_page .main .chats .heading {
    height: 50px;
  }
  .messages_page .main .chats .chat {
    height: 84px;
  }
  .messages_page .ad_img {
    height: 58px;
    width: 58px;
  }
  .messages_page .user_img {
    height: 34px !important;
    width: 34px !important;
  }
  .messages_page .chat_info {
    display: flex;
    gap: 0px;
    flex-direction: column;
    flex: 1 1;
    width: 50%;
    position: relative;
    top: -2px;
  }
  .messages_page .main .chat .name {
    font-size: 18px;
  }
  .messages_page .chat .ad_title {
    font-size: 16px;
  }
  .messages_page .chat .last_message {
    font-size: 14px;
  }
  .messages_page .messaging_area .heading {
    height: 46px;
  }
  .messages_page .ad {
    height: 60px;
    padding: 0 10px;
    padding-bottom: 5px;
  }
  .messages_page .ad img {
    min-width: 114px;
  }
  .messages_page .ad .info {
    gap: 6px;
    padding: 6px;
    font-size: 15px !important;
  }
  .messages_page .ad .info .line {
    height: 20px;
  }
  .messages_page .ad .info * {
    font-size: 15px;
  }
  .messages_page .main .chats .heading {
    height: 50px;
  }
  .messages_page .messaging_area .messages .message {
    font-size: 14px;
  }
  .messages_page .messaging_area .send_message_area {
    padding: 12px;
  }
  .messages_page .messaging_area .send_message_area .inp {
    padding: 6px 12px;
  }
  .messages_page button.send {
    height: 45px;
    width: 45px;
  }
  .messages_page .messaging_area .send_message_area .inp input {
    font-size: 16px;
  }
}
