.main-footer {
  background-color: #333;
}
.footer * {
  color: white;
}
.footer {
  color: #fff;
  padding: 40px 10% 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: var(--font2);
}

.footer-section .link_text {
  font-size: 16px;
  font-family: var(--font2);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.footer .borrowbe-description {
  max-width: 350px;
  font-size: 15px;
  font-family: var(--font2);
  line-height: 1.5em;
}

.footer-section a {
  color: #fff;
  display: block;
  /* margin-bottom: 14px; */
  text-decoration: none;
  font-family: var(--font2);
  transition: all 0.1s var(--bc);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section a:hover {
  /* transform: scale(1.02); */
  text-decoration: underline;
}

.logo-section img {
  width: 200px;
}
