div.options.actions {
  z-index: 10;
}
.ad_config {
  display: block;
  flex-direction: column;
  overflow-y: scroll;
  height: 720px;
  padding: 12px;
  width: 1200px;
}
.ad_config::-webkit-scrollbar {
  width: 8px;
  display: block !important;
}

.ad_config::-webkit-scrollbar-track {
  background: var(--bg);
}

.ad_config::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
  /* border: 3px solid var(--blue); */
}

.ad_config .ad_info {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  /* margin: 0px 50px 0px; */
  box-sizing: border-box;
  overflow: hidden;
}

.ad_config .ad_info img {
  width: 25%;
  min-width: 300px;
  height: 160px;
  object-fit: cover;
}
.ad_config .ad_info > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 70%;
  flex: 1 1;
  min-width: 600px;
  height: 100%;
  padding: 10px 20px 10px 10px;
}
.ad_config .ad_info p {
  margin: 0;
}
.ad_config .ad_info > div h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.ad_config .ad_info_row,
.ad_config .ad_info_row > p {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: #777;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.ad_config .ad_info_row span {
  display: flex;
  align-items: center;
  color: #444;
}
.ad_config .ad_info .line {
  margin: 0;

  margin: 0;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  flex: 1;
}

.ad_config .ad_info h4.line {
  font-size: 18px;
  font-weight: 500;
}

.ad_config .ad_info .price {
  color: var(--blue);
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font1);
}

.ad_config .line.location {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  gap: 2px;
  justify-content: start;
}

.ad_config .line.location svg {
  fill: var(--blue);
}

.ad_config .btns_cont {
  padding: 40px 60px 10px;
}

.ad_config .password {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  box-shadow: inset 0px 0px 6px #ccc;
  border-radius: 4px;
  padding: 16px;
  box-sizing: border-box;
  font-size: 17px;
  height: 46px;
  margin-top: 16px;

  transform: scaleY(0);
  transform-origin: top center;
  opacity: 0;
  animation: 0.3s open forwards var(--bc);
}
.ad_config .password svg {
  fill: var(--blue);
}

@keyframes open {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.ad_config .password input {
  border: none;
  flex: 1;
  outline: none !important;
  font-size: 18px;
}

.ad_config .password span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.3s var(--bc);
  margin-right: -12px !important;
}

.ad_config .recurring_ad {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ad_config .status_rr p {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  display: flex;
  align-items: center;
  font-family: var(--font1);
  gap: 4px;
}
.ad_config .status_rr p.blue {
  color: var(--blue);
}
.ad_config p.red {
  color: var(--red);
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font1);
}
.ad_config h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font1);
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  /* color: var(--blue); */
  height: 30px;
  gap: 4px;
}

.ad_config {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ad_config .controls {
  /* box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112; */
  border-radius: 4px;
  /* padding: 20px 40px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ad_config .controls svg {
  fill: var(--blue);
}

.ad_config button:disabled {
  background-color: #777;
}

.ad_config .change_status {
  display: flex;
  gap: 10px;
}
.ad_config .change_status button {
  margin-top: 16px;
  height: 46px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.ad_config .configs {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
}
.ad_config .inactive {
  font-size: 18px;
  color: var(--red);
}

.ad_config .conf {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #1114;
  margin: 16px 0 8px;
  flex: 1 1;
  display: flex;
  gap: 20px;
  background: #2196f322;
}
.ad_config .conf:first-child {
  background: #eee;
}

.ad_config .conf * {
  margin: 0;
}

.ad_config h2 p {
  margin-left: auto;
}
.ad_config .conf h5 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font1);
}
.ad_config .conf .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}
.ad_config .conf .section li {
  padding: 6px 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  font-size: 18px;
}
.ad_config .conf .section li span {
  color: var(--blue);
  font-size: 18px;
  font-family: var(--font1);
}
.ad_config .conf .section ul {
  width: 100%;
  padding: 0;
}
.ad_config .conf .section.col {
  flex-direction: column;
  align-items: start;
}

.ad_config .Premium {
  background: var(--yellow);
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
  padding: 6px 20px;
  color: white;
}
.ad_config .Standard {
  background: var(--blue);
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
  padding: 6px 20px;
  color: white;
}
.ad_config .Basic {
  background: #555;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
  padding: 6px 20px;
  color: white;
}

.ad_config .edit_config {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  margin-left: auto;
}
.ad_config .edit_config svg {
  fill: white;
}

.ad_config .status_rr {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
}

.ad_config .change_status * {
  margin: 0 !important;
}

.ad_config .config {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 0 8px;
}

.ad_config .config > div {
  flex: 1;
  min-width: 300px;
  border-radius: 4px;
  padding: 12px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  border: 1px solid var(--blue);
}
.ad_config .config .config_header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 19px;
}
.ad_config .config .details p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  height: 42px;
  margin: 0;
  font-weight: 500;

  /* border-bottom: 2px solid #eee; */
}
.ad_config .config .details p:last-child {
  border-bottom: none;
}
.ad_config .config .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
.ad_config .num,
.ad_config .value {
  font-size: large;
  color: var(--blue);
}

.ad_config .total {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  gap: 8px;
}
.ad_config .total .price {
  font-size: 22px;
  font-weight: 600;
  color: var(--blue);
}
