.listings {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr)) !important;
  justify-content: start;
  width: 100%;
  padding: 10px 0;
  justify-content: start;
}

.listing *::-webkit-scrollbar {
  display: none;
}

.listings .listing {
  background-color: var(--fg);
  border-radius: 4px;
  box-sizing: border-box;
  height: 308px;
  min-height: 300px;
  max-width: 450px;
  transition: all 0.3s var(--bc);
  cursor: pointer;
  /* transform: scale(1); */
  padding-bottom: 40px;
  position: relative;
  will-change: transform;
  box-shadow: -1px -1px 8px #1112, 1px 1px 8px #1112;
}
.listing.em {
  pointer-events: none;
}
.listing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
  z-index: 99;
  border-radius: 4px;
  pointer-events: none;
  /* box-sizing: border-box; */
  transition: all 0.3s var(--bc);
}
.listing:hover::before {
  border-color: var(--blue);
}
.listing.highlighted:hover::before {
  border-color: var(--yellow);
}
.listing.highlighted::after {
  content: "";
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, transparent, #fff6 50%, transparent);
  background-size: 1000%;
  background-position: left center;

  animation: shine 20s 5s var(--bc) infinite forwards;
  pointer-events: none;
  /* animation-delay: 20s; */
}
.listing:hover {
  box-shadow: 1px 1px 20px #1112, -1px -1px 20px #1112;
}

@keyframes shine {
  0% {
    background-position: right center;
  }

  5% {
    background-position: left center;
  }
  100% {
    background-position: left center;
  }
}

.listing .images_container {
  height: 170px;
  width: 100%;
  position: relative;

  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.listing ._ {
  background: white;
  border-radius: 0px !important;
}

.listing .images {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: scroll;
  display: flex;
  top: 0;
  left: 0;
  pointer-events: none;
}

.listing .images_container .carousel_button {
  background: #111a;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #111a;
  font-size: 24px;
  height: 44px;
  opacity: 0%;
  position: absolute;
  top: 50%;
  width: 44px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s var(--bc);
  transform: perspective(1px) scale(0.96);
}

.listing .images_container:hover .carousel_button {
  opacity: 80%;
}
.listing .images_container:hover .carousel_button:hover {
  opacity: 100%;
  transform: perspective(1px) scale(1);
}

.listing .images_container .carousel_button svg {
  height: 32px;
  width: 32px;
  color: white;
}

.listing .images_container .carousel_button.prev {
  left: 10px;
  transform: translateX(-80px);
}

.listing .images_container .carousel_button.next {
  right: 10px;
  transform: translateX(80px);
}

.listing .slides {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 10;
  gap: 2px;
  opacity: 0%;
  transition: all 0.3s var(--bc);
  filter: drop-shadow(0 0 4px #1118);
}

.listing .images_container:hover .slides {
  opacity: 100%;
}

.listing .slides .dot {
  height: 5px;
  width: 5px;
  background: transparent;
  border-radius: 50%;
  opacity: 90%;

  border: 1px solid white;
  box-shadow: inset 0px 0px 6px #1118, 0px 0px 6px #1118;
}

.listing .slides .dot.active {
  opacity: 100%;
  transform: scale(1.2);
  background-color: white;
  box-shadow: 0px 0px 6px #1118;
}

.listing .wishlist {
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: 6px;
  border: none;
  cursor: pointer;
  opacity: 90%;
  background: transparent;
  transform: perspective(1px) scale(0.96);
}

.listing .info {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: start;
  gap: 16px;
  font-size: 15px;
}
.listing .info .distance {
  width: max-content;
  padding: 4px 8px;
  background: #ddd;
  border-radius: 4px;
  color: #333;
  font-weight: 500;
  font-size: 15px;
  text-wrap: nowrap;
}
.listing span.location svg {
  fill: var(--blue);
  height: 20px;
  vertical-align: text-top;
  width: 20px;
}

.listing .wishlist:hover {
  opacity: 100%;
  transform: perspective(1px) scale(1);
}
.listing .wishlist.active {
  opacity: 100%;
}

.listing .wishlist svg {
  fill: #1113;
  stroke: var(--fg);
  stroke-width: 2;
  height: 30px;
  width: 30px;

  filter: drop-shadow(0px 0px 5px #111a);
  transition: all 0.3s var(--bc);
}

.listing .wishlist:hover svg {
  fill: var(--fg);
}

.listing .wishlist.active svg {
  fill: var(--fg);
}

.listing .images img {
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  min-width: 100%;
  pointer-events: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  position: absolute;
  transition: all 0.3s ease-out;
  max-width: 100%;
}

.listing main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.listing main p {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-family: var(--font2);
  overflow: hidden;
  margin: 0;
}
.listing main h1 {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font1);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin: 0;
  text-transform: capitalize;
  cursor: pointer;
}
.listings.actions .listing main h1 {
  width: calc(100% - 50px);
}

.listing .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 12px;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  padding: 0 12px;
}

.listing .price p {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--font1);
  color: black;
  display: flex;
  align-items: baseline;
}
.listing .price .btn_classic {
  box-shadow: 0px 0px 8px #ccc;
}

.listing .price .price_num {
  font-size: 23px;
  font-weight: 600;
  font-family: var(--font1);
  color: var(--blue);
}

.listing button.actions {
  background: transparent;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: -4px;
  display: flex;
  color: #444;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.listing button.actions:hover {
  background-color: #1111;
}
.listing main .heading {
  display: flex;
  align-items: CENTER;
  justify-content: CENTER;
}

.listing button.actions svg {
  height: 32px;
  width: 32px;
  fill: var(--blue);
}

.listing div.actions {
  position: absolute;
  right: 12px;
  top: 12px;
  height: -moz-fit-content;
  height: fit-content;
  width: 220px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  transition: all 0.15s var(--bc);
  transform: scale(0);
  opacity: 0;
  transform-origin: bottom right;
  z-index: 100000;
  border: 1px solid var(--blue);
}
.listing div.actions.active {
  transform: scale(1);
  opacity: 1;
}

.listing div.actions button {
  background: transparent;
  border: none;
  display: flex;
  /* height: 44px; */
  align-items: center;
  justify-content: start;
  color: #333;
  font-size: 16px;
  gap: 8px;
  font-weight: 500;
  padding: 12px 16px;
  box-sizing: border-box;
  font-family: var(--font2);
  transition: all 0.3s var(--bc);
  cursor: pointer;
}
.listing div.actions button:hover {
  background-color: #1111;
}
.listing div.actions button svg {
  fill: var(--blue);
  height: 24px;
  width: 24px;
}

.listing:hover .images_container .carousel_button.prev {
  transform: translateX(0);
}
.listing:hover .images_container .carousel_button.next {
  transform: translateX(0);
}

.listing .badges {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 28px;
  display: flex;
  gap: 5px;
  transition: all 0.3s var(--bc);
}

.listing .badges .featured,
.row_listing .badges .featured {
  height: 100%;
  width: fit-content;
  background: var(--yellow);
  z-index: 100;
  display: flex;
  padding: 0 12px;
  box-sizing: border-box;
  align-items: center;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0px 0px 4px #1116;
  font-size: 15px;
  font-family: var(--font1);
}

.listing.highlighted {
  background-color: var(--yellow-light);
}
.listing.highlighted .info .distance,
.row_listing.highlighted .info .distance {
  background-color: white;
}

.listing h1.empty {
  height: 23px;
  margin-right: auto;
}
.listing p.empty {
  min-height: 20px;
}
.listing .price .empty {
  height: 28px;
  width: 150px;
  bottom: -2px;
  position: absolute;
}
.listing .info.empty {
  height: 23px;
  width: 250px;
}

.listing .empty * {
  display: none !important;
}

.listing.empty button {
  display: none;
}



.listing .tax {
  display: inline;
  padding-left: 4px;

  font-size: 15px !important;
}
