.nav {
  position: absolute;
  top: -100px;
  transform: translateY(100%) !important;

  display: flex;
  width: 100%;
  align-items: center;
  transition: top 0.3s var(--bc);
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  will-change: transform;
}

.nav .start_row {
  display: flex;
}

.nav > div {
  margin: auto;
  width: 80%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #000;
  cursor: pointer;
  font-family: var(--font2);
  font-size: 36px;
  margin: 0;
  font-weight: 900;
  height: 100px;
  box-sizing: border-box;
  transition: all 0.3s var(--bc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 60px;
}

.nav.white .logo img {
  height: 50px;
  position: relative;
}

.nav nav {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s var(--bc);
}

.nav nav ul {
  display: flex;
  padding-left: 8px;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: all 0.3s var(--bc);
}
.nav li {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: white;
  list-style: none;
  font-family: var(--font2);
  font-weight: 600;
  transition: all 0.3s var(--bc);
  padding: 12px !important;
  border-radius: 4px;
  position: relative;
  height: 46px !important;
  box-sizing: border-box;
}
.btn_classic {
  background-color: var(--blue);
  font-family: var(--font2);
  font-size: 20px;
  font-weight: 600;
  padding: 18px 32px;
  border: none;
  border-radius: 4px;
  color: var(--fg);
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.33s var(--bc);
  box-shadow: 0px 0px 8px #1118;
}

.btn_classic:hover {
  background-color: var(--blue-dark);
}

.signin_signup {
  color: var(--fg);
  font-size: 18px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.nav .down_arrow {
  position: relative;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .down_arrow svg {
  fill: currentColor !important;
}

.nav_sign_in {
  color: var(--blue) !important;
}

.nav.white {
  background: var(--fg);
  box-sizing: border-box;
  /* padding: 20px 0px; */
  top: -100px;
  box-shadow: 3px 3px 24px #1112;
  left: 0;
}

.nav.white .logo {
  background: transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #000;
  cursor: pointer;
  font-family: var(--font2);
  font-size: 36px;
  font-weight: 900;
  padding: 0;
  margin: 0;
  transition: all 0.3s var(--bc);
}

.nav.white li {
  align-items: center;
  color: black;
  display: flex;
  font-family: var(--font2);
  font-size: 16px;
  gap: 5px;
  list-style: none;
  padding: 10px 0;
  transition: all 0.3s var(--bc);
  padding: 10px;
  border-radius: 4px;
}

.nav.white li svg {
  fill: var(--blue);
}
.nav li:hover {
  background-color: #fff2;
}

.nav li.active {
  background-color: #fff2;
}
.nav.white li:hover {
  background-color: #1111;
}
.nav.white li.active {
  background-color: #1111;
}
li.country_select {
  align-items: center;
  color: black;
  display: flex;
  font-family: var(--font2);
  justify-content: START;
  gap: 8px;
  list-style: none;
  transition: all 0.3s var(--bc);
  padding: 16px 30px !important;
  border-radius: 4px;
  height: 54px !important;
}
li.country_select svg {
  margin-left: auto;
  color: var(--blue);
}
.country_select img,
.country_img_global {
  height: 20px;
  align-self: end;
  width: 30px;
  object-fit: cover;
  box-shadow: 0px 0px 6px #1114;
  border-radius: 2px;
  margin-left: auto;
}
.country_select img {
  align-self: center;
  margin: 0;
  height: 28px;
  width: 42px;
  border-radius: 3px;
}
.country_select p {
  font-size: 18px;
}
.listing .country_img_global,
.row_listing .country_img_global {
  height: 16px;
  width: 24px;
}
.country_select .country_currency {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.country_select .country_currency p {
  margin: 0;
}
.country_select .country_currency span {
  font-size: 12px;
  margin-bottom: -2px !important;
  opacity: 0.8;
}
.select_country {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.select_country .country {
  height: 60px;
  width: 160px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  /* will-change: transform; */
  transition: all 0.3s var(--bc);
}
.select_country .country:hover {
  background-color: #1111;
  /* transform: scale(1.05); */
}
.select_country .country img {
  height: 34px;
  width: 50px;
  object-fit: cover;
  border-radius: 4px;
  /* border: 1px solid #eee; */
  box-shadow: 0px 0px 4px #1114;
}
.nav.fixed {
  background: var(--fg);
  /* border-radius: 500px; */
  box-shadow: 3px 3px 24px #1112;
  /* margin: 0 10%; */
  min-width: 800px;
  padding: 0px 40px;
  position: fixed;
  top: 0px;
  transform: translateY(0) !important;
  width: 100%;
  padding: 0 10%;
  z-index: 100;
  box-sizing: border-box;
  left: 0;
}

.nav.fixed > div {
  width: 100%;
}

.nav .location {
  /* margin-left: 10px; */
  margin-right: auto;
}

.nav .user_menu {
  background: var(--fg);
  border-radius: 4px;
  box-shadow: -1px -1px 8px #1114, 1px 1px 8px #1114;
  box-sizing: border-box;
  color: #000;
  padding: 16px 0;
  position: absolute;
  /* max-height: 500px; */
  right: 0;
  top: 120%;
  width: 325px;
  opacity: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: all 0.2s var(--bc);
  /* overflow: auto; */
}

.nav .user_menu .view_profile {
  display: flex;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.nav .user_menu .view_profile button {
  background-color: #fff;
  border: 1px solid var(--blue);
  border-radius: 4px;
  box-shadow: 0 0 8px #ccc;
  color: var(--blue);
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  width: 100%;
  font-family: var(--font2);
  transition: all 0.3s var(--bc);
  cursor: pointer;
}

.nav .user_menu .view_profile button:hover {
  background-color: var(--blue);
  color: #fff;
}

.nav .user_menu_profile {
  height: 70px;
  display: flex;
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  align-items: center;
  gap: 8px;
}

.nav .user_menu_profile img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px #ccc, -1px -1px 4px #ccc;
  object-fit: cover;
}

.nav .user_menu_profile_main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}

.nav .user_menu_profile_main h2 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.nav .user_menu_profile_main p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #555;
  font-family: var(--font2);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nav .user_menu.active {
  opacity: 1;
  transform: scale(1);
}

.nav .user_menu .menu_option {
  align-items: center;
  box-sizing: border-box;
  color: #444;
  display: flex;
  gap: 8px;
  font-weight: 500;
  padding: 12px 30px;
  font-size: 18px;
  width: 100%;
}
.nav .user_menu .menu_option:hover {
  background-color: #eee;
}
.nav .menu_option svg {
  fill: var(--blue);
}
.nav .user_menu hr {
  border: 1px solid #eee;
  box-sizing: border-box;
  width: 86%;
}

#nav_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#nav_profile img {
  height: 45px;
  box-shadow: 0px 0px 8px #1114;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}
#nav_profile #nav_profile_main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#nav_profile_main > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

#nav_profile_main span {
  opacity: 80%;
  font-size: 13px;
}

#nav_profile_main p {
  margin: 0;
}

#nav_profile_container {
  height: fit-content;
  padding: 8px 16px !important;
  box-sizing: content-box;
}

.nav .hidden_dot {
  display: none;
}

.nav .notfication_dot {
  display: flex;
  height: 18px;
  min-width: 18px;
  background: var(--red);
  position: absolute;
  border-radius: 50%;
  top: 2px;
  right: 2px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.nav .notification_box {
  width: 440px;
  height: 560px;
  background: white;
  top: 120%;
  position: absolute;
  right: 0px;
  border-radius: 4px;
  box-shadow: -1px -1px 8px #1114, 1px 1px 8px #1114;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: all 0.2s var(--bc);
}

/* Works on Chrome, Edge, and Safari */
.nav .notifications::-webkit-scrollbar,
.nav .user_menu::-webkit-scrollbar {
  width: 8px;
  display: block !important;
}
.nav .notifications::-webkit-scrollbar-track,
.nav .user_menu::-webkit-scrollbar-track {
  background: var(--bg);
}

.nav .notifications::-webkit-scrollbar-thumb,
.nav .user_menu::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
}
.nav .notification_box.active {
  opacity: 1;
  transform: scale(1);
}

.nav .notification_box .heading {
  font-size: 16px;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding: 20px;
  font-weight: 500;
  color: black;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  flex-direction: row;
}

.nav .notifications {
  overflow-y: scroll !important;
  flex: 1;
}

.nav .notification_box .heading svg {
  fill: var(--blue);
  height: 24px;
  width: 24px;
  margin-right: -2px;
}

.nav .notification_box .heading span {
  color: #999;
  font-weight: 500;
  font-size: 15px;
}

.nav .notification_box .heading button {
  margin-left: auto;
  background: transparent;
  border: none;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: 15px;
  cursor: pointer;
}
.nav .notification_box .heading button:hover {
  background: #1111;
}

.nav .notification {
  position: relative;
  height: 100px;
  padding: 10px;
  width: 100%;
  color: #333;
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #eee;
  font-family: var(--font1);
  box-sizing: border-box;
  transition: all 0.3s var(--bc);
  padding-right: 3px;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  letter-spacing: 0.5px;
}

.nav .notification:hover {
  background-color: #1111;
}

.nav .notification.unread {
  background-color: #2196f318;
  /* font-weight: 600;
  color: #1118; */
}

.nav .notification img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px #ccc, -1px -1px 4px #ccc;
  object-fit: cover;
}

.nav .notification .content {
  display: flex;
  justify-content: space-between;

  width: 100%;

  display: inline-block;
}

.nav .notification .notif_info {
  flex-direction: column;
  display: flex;
  flex: 1;
  min-height: 65px;
  gap: 2px;
  padding: 4px 0px;
  box-sizing: border-box;
  /* align-items: center; */
  justify-content: center;
}

.nav .notification p {
  margin: 0;
}
.nav .notification .notif_info button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--blue);
  box-shadow: 1px 1px 6px #1114, -1px -1px 6px #1114;
  transform: translateX(40px);
  transition: all 0.2s var(--bc);
}

.nav .notification:hover .notif_info button {
  transform: translateX(0);
}
.nav .notification .notif_info button svg {
  height: 23px;
  width: 23px;
  fill: white;
}

.nav .notification .time {
  margin: 0;
  font-size: 12px;
  color: #777;
  font-weight: 500 !important;
  display: inline-block;
}

@media (max-width: 1600px) {
  .nav > div {
    width: 100%;
  }
  .nav {
    padding: 0 5% !important;
    top: -80px;
  }
  .nav.white {
    top: -80px;
  }
  .nav.fixed {
    top: 0px;
  }
  .nav .logo {
    height: 80px;
  }
  .nav .logo img {
    height: 50px;
  }
  .btn_classic {
    padding: 14px 20px;
    font-size: 18px;
  }
  .nav .location_box {
    padding: 0;
    margin: 0;
    width: 180px;
  }
  .nav ul li {
    height: 40px !important;
    padding: 8px !important ;
  }
}

.nav .notification_box .animated_icon {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .notification_box .animated_icon > div {
  width: 260px !important;
  height: 260px !important;
}

.nav .notification .empty {
  background: linear-gradient(90deg, #1111, #1111, #1112);
  background-size: 300%;
  background-position: left center;
  border-radius: 4px;

  animation: skeleton 1s var(--bc) forwards infinite;
}

@keyframes skeleton {
  0% {
    background-position: left center;
  }

  90% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
.nav .notification .img_skeleton.empty {
  height: 65px;
  width: 65px;
  border-radius: 50% !important;
  /* box-shadow: 0px 0px 4px #1114; */
  object-fit: cover;
}

.nav .notification .content.empty {
  width: 80%;
  height: 19px;
  margin-bottom: 3px;
}
.nav .notification .content.empty:first-child {
  width: 95%;
}

.nav .notification .time.empty {
  width: 120px;
  height: 14px;
  margin-bottom: 3px;
}
div._options {
  display: grid;
  padding: 60px;
  gap: 16px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 460px;
}
div._options .opt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 5px;
  box-shadow: 0px 0px 8px #1114;
  padding: 30px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s var(--bc);
}
div._options .opt:hover {
  background-color: #2196f322;
}
div._options .opt svg {
  height: 56px !important;
  width: 56px !important;
  fill: var(--blue);
}

.nav .user_menu_profile_main h2 > hr {
  height: 0px;
  width: 0px;
  border: 2px solid #555;
  border-radius: 50%;
}
