.row_listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, auto));
  gap: 12px;
  padding: 10px 0;
}

.row_listing *::-webkit-scrollbar {
  display: none;
}
.row_listings .row_listing {
  min-width: 800px;
  width: 100%;
  height: 206px;
  background: #fff;

  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: -1px -1px 8px #1112, 1px 1px 8px #1112;
  position: relative;
  /* overflow: hidden; */
  transition: all 0.3s var(--bc);
}
* {
  -webkit-font-smoothing: subpixel-antialiased !important;
}
.row_listing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
  z-index: 99;
  border-radius: 4px;
  pointer-events: none;
  /* box-sizing: border-box; */
  transition: all 0.3s var(--bc);
}
.row_listing:hover::before {
  border-color: var(--blue);
}
.row_listing.highlighted:hover::before {
  border-color: var(--yellow);
}
.row_listing:hover {
  box-shadow: 1px 1px 20px #1112, -1px -1px 20px #1112;
}
.row_listing .images_container {
  height: 100%;
  width: 36%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow: hidden;
}
.row_listing ._ {
  background: white;
  border-radius: 0px !important;
}
.row_listing .images {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: scroll;
  display: flex;
  top: 0;
  left: 0;
  pointer-events: none;
}

.row_listing .images_container .carousel_button {
  background: #111a;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #111a;
  font-size: 24px;
  height: 48px;
  opacity: 0%;
  position: absolute;
  top: 50%;
  width: 48px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s var(--bc);
  transform: perspective(1px) scale(0.96);
}

.row_listing .images_container:hover .carousel_button {
  opacity: 80%;
}
.row_listing .images_container:hover .carousel_button:hover {
  opacity: 100%;
  transform: perspective(1px) scale(1);
}

.row_listing .images_container .carousel_button svg {
  height: 36px;
  width: 36px;
  color: white;
}

.row_listing .images_container .carousel_button.prev {
  left: 10px;
  transform: translateX(-80px);
}

.row_listing .images_container .carousel_button.next {
  right: 10px;
  transform: translateX(80px);
}
.row_listing:hover .images_container .carousel_button.prev {
  transform: translateX(0);
}
.row_listing:hover .images_container .carousel_button.next {
  transform: translateX(0);
}
.row_listing .slides {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 10;
  gap: 2px;
  opacity: 0%;
  transition: all 0.3s var(--bc);
}

.row_listing .images_container:hover .slides {
  opacity: 100%;
}

.row_listing .slides .dot {
  min-height: 5px;
  min-width: 5px;
  background: transparent;
  border-radius: 50%;
  opacity: 90%;

  border: 1px solid white;
  box-shadow: inset 0px 0px 6px #1118, 0px 0px 6px #1118;
}

.row_listing .slides .dot.active {
  opacity: 100%;
  transform: scale(1.2);
  background-color: white;
  box-shadow: 0px 0px 6px #1118;
}

.row_listing .wishlist {
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 8px;
  right: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 90%;
  background: transparent;
  transform: perspective(1px) scale(0.96);
}

.row_listing .wishlist:hover {
  opacity: 100%;
  transform: perspective(1px) scale(1);
}
.row_listing .wishlist.active {
  opacity: 100%;
}

.row_listing .wishlist svg {
  fill: #1113;
  stroke: var(--fg);
  stroke-width: 1.5px;
  height: 36px;
  width: 36px;
  filter: drop-shadow(0px 0px 5px #111a);
  transition: all 0.3s var(--bc);
}
.row_listing .wishlist.active svg {
  fill: var(--fg);
}
.row_listing .wishlist:hover svg {
  fill: var(--fg);
}

.row_listing .images img {
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  min-width: 100%;
  pointer-events: none;
  position: absolute;
  transition: all 0.3s ease-out;
  max-width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.row_listing .main p {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
  height: 60px;
  font-family: var(--font2);
  overflow: hidden;
  margin: 0;
}
.row_listing .main {
  width: 64%;
  position: absolute;
  height: 100%;
  right: 0;
  padding: 16px;
  top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row_listing .main h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font1);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin: 0;
  text-transform: capitalize;
  cursor: pointer;
}

.row_listings.actions .row_listing .main h1 {
  width: calc(100% - 50px);
}
.row_listing .rating {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #444;
  font-weight: 500;
  font-size: 18px;
  gap: 10px;
}

.row_listing .tiles {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.row_listing .tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  background: #eee;
  font-weight: 500;
  gap: 8px;
  font-size: 18px;
  box-shadow: 0px 0px 4px #ccc;
}

.row_listing .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  padding: 12px 16px;
  font-family: var(--font1);
  box-sizing: border-box;
}

.row_listing .buttons {
  display: flex;
  gap: 20px;
}

.row_listing .buttons button {
  height: 60px;
  box-shadow: 0px 0px 8px #ccc;
}

.row_listing button.actions {
  position: absolute;
  top: 12px;
  right: 8px;
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  color: #444;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.row_listing button.actions:hover {
  background-color: #1111;
}

.row_listing button.actions svg {
  height: 32px;
  width: 32px;
  fill: var(--blue);
}

.row_listing .info {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  gap: 24px;
}
.row_listing div.actions {
  position: absolute;
  top: 12px;
  right: 12px;
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  transition: all 0.15s var(--bc);
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
  border: 1px solid var(--blue);
}
.row_listing div.actions.active {
  transform: scale(1);
  opacity: 1;
}

.row_listing div.actions button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #333;
  font-size: 16px;
  gap: 8px;
  font-weight: 500;
  padding: 10px 15px;
  box-sizing: border-box;
  font-family: var(--font2);
  transition: all 0.3s var(--bc);
  cursor: pointer;
}
.row_listing span.location,
.listing span.location {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  overflow: hidden;
}
.row_listing span.location svg,
.listing span.location svg {
  fill: var(--blue);
  height: 22px;
  vertical-align: text-top;
  width: 22px;
}
.row_listing div.actions button:hover {
  background-color: #1111;
}
.row_listing div.actions button svg {
  fill: var(--blue);
  height: 24px;
  width: 24px;
}
.row_listing .info .distance {
  width: fit-content;
  padding: 6px 16px;
  background: #ddd;
  border-radius: 4px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  text-wrap: nowrap;
}

.listing .status,
.row_listing .status {
  background: var(--blue);
  z-index: 10;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  padding: 0px 16px;
  height: 100%;
  box-shadow: 0px 0px 4px #1116;
  font-family: var(--font1);
}

.listing .status.paused,
.row_listing .status.paused {
  background-color: #555;
  color: white;
  box-shadow: 0px 0px 4px #1116;
}
.listing .status.expired,
.row_listing .status.expired {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 4px #1116;
}

.row_listing .price p {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font1);
  color: black;
  height: fit-content;
  display: flex;
  gap: 2px;
  align-items: baseline;
}
.row_listing .price .country,
.listing .price .country {
  display: block;
  margin-left: auto;
}
.row_listing .tax {
  display: inline;
  padding-left: 5px;
  /* font-weight: 500; */
  /* color: var(--blue) !important; */
  font-size: 17px !important;
  font-family: var(--font2);
}
.row_listing .price .btn_classic {
  box-shadow: 0px 0px 8px #ccc;
}

.row_listing .price .price_num {
  font-size: 28px;
  font-weight: 600;
  font-family: var(--font1);
  color: var(--blue);
}

.row_listing .cap_bottom,
.row_listing .cap_top {
  height: 60%;
  width: 22%;
}

.row_listing.highlighted {
  background-color: var(--yellow-light);
}

.row_listing.highlighted::after {
  content: "";
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(100deg, transparent, #fff6 50%, transparent);
  background-size: 1000%;
  background-position: left center;

  animation: shine 20s 5s var(--bc) infinite forwards;
  /* animation-delay: 20s; */
}
@keyframes shine_rs {
  0% {
    background-position: right center;
  }

  50% {
    background-position: left center;
  }
  100% {
    background-position: left center;
  }
}

.row_listing .badges,
.listing .badges {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 26px;
  display: flex;
  gap: 5px;
}

.row_listing h1.empty {
  height: 26px;
  width: 75% !important;
}
.row_listing p.empty {
  min-height: 19px;
  max-height: 19px;
  margin: 0 0 4px;
}

.row_listing p.empty:nth-child(3) {
  width: 40% !important;
}
.row_listing .price .empty {
  min-height: 36px;
  width: 200px;
  margin: 0;
}

.row_listing .empty * {
  display: none !important;
}

.row_listing.empty button {
  display: none;
}
.info.empty {
  height: 24px;
  width: 350px;
}
.row_listing .main > p.t {
  height: 66px;
}
@media (max-width: 1600px) {
  .row_listing .images_container {
    width: 40%;
  }
  .row_listing .main {
    width: 60%;
  }
}
