.stepper_container {
  display: flex;
  align-items: center;
  min-height: 100px;
  column-gap: 30px;
  justify-content: center;
}

.stepper_container .stepper {
  display: flex;
  align-items: center;
}

.stepper_container .step_circle {
  width: 30px;
  height: 30px;
  background-color: var(--blue);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 6px;
  cursor: pointer;
}

.stepper_container .step_title {
  font-size: 20px;
  flex-grow: 1;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--FONT1);
  position: relative;
  bottom: 2px;
  color: #333;
}

.stepper_container .step_icon_cont {
  display: flex;
  color: #999;
  margin-left: 50px;
}

.stepper_container .step_circle.disabled {
  background-color: #999;
}

.stepper_container .step_title.disabled {
  color: #999;
}

.stepper_container .step_icon_cont.disabled {
  color: #999;
}

.stepper_container .step_circle.disabled {
  background-color: #999;
}
