.__stepp {
  display: flex;
  gap: 6px;
  width: calc(100vw - 16px);
  /* filter: drop-shadow(0px 0px 12px #1114); */
}

.stepper_container {
  align-items: center;
  min-height: 50px;
  height: 50px;
  justify-content: center;
  gap: 6px;
  border-radius: 25px;
  /* box-shadow: 0px 0px 8px #1116; */
  /* overflow: hidden; */
  display: flex;
  flex: 1;
}

.__stepp .step_circle {
  align-items: center;
  min-height: 50px;
  height: 50px;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 0px 16px #1114;
  overflow: hidden;
  display: flex;
  min-width: 50px;
  width: fit-content;
  font-size: 21px;
  font-family: var(--font1);
  padding: 16px;
  box-sizing: border-box;
  gap: 8px;
  font-weight: 600;
  background-color: white;
  border: 1px solid var(--blue);
  color: var(--blue);
  transition: all 0.2s var(--bc);
}

.step_circle.active {
  align-items: center;
  background-color: var(--blue) !important;
  color: white;
  flex: 1;
  font-weight: 600;
}
.stepper_container .step_title {
  font-size: 15px;
  flex-grow: 1;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--font);
  position: relative;
  min-width: fit-content;
  transition: all 0.2s var(--bc);
  opacity: 0;
  width: 0;
  white-space: nowrap;
  display: none;
}
.stepper_container .step_title.visible {
  width: fit-content;
  opacity: 1;
  display: inline;
}
.stepper_container .step_icon_cont {
  display: flex;
  color: #999;
  margin-left: 50px;
}

.__stepp .back {
  background: none;
  border: navajowhite;
  height: 42px;
  width: 42px;
  color: var(--blue);
  margin: -4px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

@media (min-width: 720px) {
  .stepper_container .step_title {
    opacity: 1;
    display: inline;
    width: fit-content;
    flex: 1;
  }
  .__stepp .step_circle {
    flex: 1;
    padding: 20px;
  }
  .__stepp {
    display: flex;
    gap: 8px;
    width: calc(100vw - 32px);
    margin: 0 auto;
    /* filter: drop-shadow(0px 0px 12px #1114); */
  }
}
