.__stepp {
  display: flex;
  gap: 6px;
  width: calc(100vw - 16px);
  /* filter: drop-shadow(0px 0px 12px #1114); */
}

.stepper_container {
  align-items: center;
  min-height: 50px;
  height: 50px;
  justify-content: center;
  gap: 4px;
  border-radius: 25px;
  /* box-shadow: 0px 0px 8px #1116; */
  /* overflow: hidden; */
  display: flex;
  flex: 1;
  max-width: 100%;
}

.__stepp .step_circle {
  align-items: center;
  min-height: 46px;
  height: 46px;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 0px 12px #1114;
  overflow: hidden;
  display: flex;
  min-width: 46px;
  width: fit-content;
  font-size: 20px;
  font-family: var(--font1);
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  gap: 4px;
  font-weight: 600;
  background-color: white;
  border: 1px solid var(--blue);
  color: var(--blue);
  transition: all 0.2s var(--bc);
}

.step_circle.active {
  align-items: center;
  background-color: var(--blue) !important;
  color: white;
  flex: 1;
  font-weight: 600;
}
.stepper_container .step_title {
  font-size: 13px;
  flex-grow: 1;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--font1);
  position: relative;
  min-width: fit-content;
  transition: all 0.2s var(--bc);
  opacity: 0;
  width: 0;
  white-space: nowrap;
  display: none;
}
.stepper_container .step_title.visible {
  width: fit-content;
  opacity: 1;
  display: inline;
}
.stepper_container .step_icon_cont {
  display: flex;
  color: #999;
  margin-left: 50px;
}

.__stepp .back {
  height: 46px;
  width: 46px;
  max-width: 46px;
}

@media (min-width: 720px) {
  .stepper_container .step_title {
    opacity: 1;
    display: inline;
    width: fit-content;
    flex: 1;
    font-size: 15px;
  }

  .stepper_container {
    height: 52px;
    min-height: 52px;
  }
  .__stepp .step_circle {
    flex: 1;
    padding: 20px;
    height: 52px;
    width: 52px;
    min-width: 52px;
    border-radius: 28px;
    margin-top: 4px;
    font-size: 23px;
    gap: 5px;
  }

  .__stepp {
    display: flex;
    gap: 8px;
    width: calc(100vw - 32px);
    margin: 0 auto;
    /* filter: drop-shadow(0px 0px 12px #1114); */
  }
}
