.mobile_input_label {
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  color: #444
}

.mobile_input_label .required {
  font-size: 13px;
  color: #757575;
  font-weight: 400;
}



.mobile_input_info {
  font-size: 12px;
  color: var(--gray);
}


