.mobile_row_listings {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 700px) {
  .mobile_row_listings {
    display: grid;
    grid-template-columns: minmax(130px, 1fr) minmax(130px, 1fr);
    gap: 8px;
  }
}

.info_text {
  text-align: center;
  font-size: 13px;
  line-height: 2;
}
.end-reached {
  margin-bottom: 20px;
}
