.search_main {
  background: var(--fg);
  height: 100px;
  margin-top: 100px;
  display: flex;
  padding: 0 10%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 300;
}

.search_page .nav {
  box-shadow: none;
}
.search_inp ._dropdown .selected > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.search_inp ._dropdown .option img,
.search_inp ._dropdown .option svg {
  max-height: 34px;
  width: 34px;
  margin: -4px;
  fill: black !important;
  object-fit: fill;
}
.search_inp ._dropdown .selected > div img,
.search_inp ._dropdown .selected > div svg {
  /* height: 32px; */
  width: 36px;
  object-fit: fill;
  fill: black !important;
}

.search_main .search_inp {
  display: flex;
  flex: 1 1;
  min-width: 800px;
  height: 70px;
  background: #fff;
  gap: 10px;
  border-radius: 4px;
  align-items: center;
  filter: drop-shadow(0px 0px 8px #ccc);
  z-index: 10;
}
.search_main ._dropdown {
  background: var(--fg);
  border-radius: 4px;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 30px;
  padding: 15px 10px;
  align-items: center;
  z-index: 10;
  width: 320px;
  filter: none;
  border-color: white !important;
}
.search_main ._dropdown .selected {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding-left: 10px;
  height: 100%;
}

.search_page .search_results_header ._dropdown .selected > div {
  display: flex;
  justify-content: end;
  gap: 8px;
  font-weight: 500;
  font-size: 22px;
}

.search_page .search_results_header hr {
  border: 3px solid #777;
  border-radius: 50%;
}
.search_page .search_results_header .count {
  color: #777;
  font-family: var(--font1);
  font-weight: 500;
}

.search_main ._dropdown .selected > div svg {
  height: 30px;
  height: 30px;
  fill: var(--blue);
}

.search_main ._dropdown .options {
  background: var(--fg);
  /* padding: ; */
  width: calc(100% + 24px);
  border-radius: 4px;
  transform: scaleY(0);
  transition: all 0.3s var(--bc);
  opacity: 0;
  transform-origin: top center;
  min-height: unset;
  overflow: unset;
  position: relative;
  top: 24px;
  z-index: 5;
}

.search_main ._dropdown .options .option {
  padding: 10px 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: start;
}

.search_main .search_inp > hr {
  height: 60%;
  border-left: 1px solid #ccc;
  margin-left: -8px;
}

.search_main .search_inp input {
  flex: 4;
  border: none;
  height: 100%;
  outline: none;
  padding: 10px 0px;
  box-sizing: border-box;
  font-size: 22px;
}

.search_main .search_inp button {
  height: 100%;
  border: none;
  background-color: var(--blue);
  box-sizing: border-box;
  font-size: 24px;
  width: 150px;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.3s var(--bc);
  cursor: pointer;
}
.search_main .search_inp button:hover {
  background-color: var(--blue-dark);
}
.search_main .location {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  gap: 4px;
  box-sizing: border-box;
  background: var(--fg);
  padding: 16px;
  filter: drop-shadow(0px 0px 8px #ccc);
  border: 1px solid var(--blue);
  border-radius: 4px;
  width: 360px;
  cursor: pointer;
}

.search_main .location span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search_main .location_name {
  flex: 1;
}
.search_main .location hr {
  border-color: #444;
}
.search_main .location svg {
  height: 25px;
  width: 25spx;
  fill: var(--blue);
}
.search_main .search_inp svg {
  height: 28px;
  width: 28px;
  fill: var(--blue);
}

.search_main .arrow svg {
  height: 26px;
  width: 26px;
  fill: currentColor !important;
}

.search_page .search_tabs {
  padding: 0 0 16px;
  display: flex;
  gap: 12px;
  background: var(--fg);
  overflow: scroll;
}

.search_page .tabs_wrapper {
  margin: 0;
  padding: 0 10%;
  background: #fff;

  z-index: 12;
}

.search_page * ::-webkit-scrollbar {
  display: none;
}

.search_page .search_tab {
  padding: 10px 20px;
  box-shadow: 0px 0px 8px #ccc;
  border: 1px solid var(--blue);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 100px;
  transition: all 0.3s var(--bc);
  height: 46px;
  box-sizing: border-box;
}
.search_page .search_tab.active {
  background-color: var(--blue);
  color: #fff;
  /* font-weight: 600; */
}

.search_page .search_tab:hover {
  background-color: var(--blue);
  color: #fff;
}

.search_page .search_tab.add {
  padding: 10px;
}
.search_page .search_tab svg {
  fill: var(--blue);
}
.search_page .search_tab:hover svg {
  fill: #fff;
}
.search_page .search_tab.active svg {
  fill: #fff;
}

.search_page .search_tab button {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: -10px;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.search_page .search_tab button:hover {
  transform: scale(1.1);
}
.search_page .search_tab button svg {
  height: 28px;
  width: 28px;
}

.search_page .search_tab p {
  max-width: 200px;
  overflow: hidden;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  height: 20px;
  margin: 0;
  padding: 0;
}

.search_page .search_tab pre {
  margin: 0;
  font-size: inherit;
  font-family: var(--font2);
}

.search_page .search_content {
  padding: 0px 10%;
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
}

.search_page .search_content .filters {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-width: 328px;
  height: fit-content;
  position: sticky;
  top: 75px;
  margin-top: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
  gap: 10px;
}

.search_page .search_results hr {
  border: none;
  margin: 20px;
}
.search_page .search_content .filters .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
}
.search_page .search_content .filters .field h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
.search_page .search_content .filters .field input {
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--blue);
  color: #fff;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 500;
}
.search_page .search_content .filters .filter .slider input {
  width: 100%;
}
.search_page .search_content .filters hr {
  border: 1px solid #eee;
  width: 100%;
  border-radius: 10px;
  display: none;
}

.search_page .search_content .filters .heading {
  display: flex;
  font-size: 24px;
  gap: 8px;
  justify-content: start;
  align-items: center;
  font-weight: 600;
}
.search_page .search_content .filters .heading svg {
  height: 32px;
  width: 32px;
  fill: var(--blue);
}

.search_page .filters .filter {
  height: 96px;
}

.search_page .search_results_header {
  font-size: 18px;
  padding: 8px 10%;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  position: sticky;
  margin-top: 10px;
  top: 0;
  z-index: 200;
  background-color: var(--bg);
}
.search_page .search_results h2 {
  color: #555;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
  gap: 4px;
}
.search_page .search_results h2 svg {
  height: 28px;
  width: 28px;
  fill: var(--blue);
}

.search_page .search_results_header p span {
  font-weight: 500;
  font-size: 22px;
  color: var(--blue);
}
.search_page .search_results_header > p {
  font-family: var(--font1);
}

.search_page .search_results {
  width: 100%;
}

.search_page .search_results_header {
  display: flex;
  justify-content: space-between;
}

.search_page .search_results_header > div {
  display: flex;
  gap: 10px;
}

.search_page .search_results_header ._dropdown {
  display: flex;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  background: white;
  border: 1px solid var(--blue);
  filter: drop-shadow(0px 0px 4px #ccc);
  width: 250px;
  height: 50px;
  justify-content: space-between;
  transition: all 0.3s var(--bc);
  cursor: pointer;
}
.search_page .search_results_header ._dropdown .options {
  top: 16px;
}
.search_page .search_results_header ._dropdown .selected > div,
.search_page .filter ._dropdown .selected > div {
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.search_page .search_results_header .sort_by:hover {
  border-color: var(--blue);
}
.search_page .search_results_header .sort_by .selected > div,
.search_page .filter ._dropdown .selected > div {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.search_page .search_results_header .sort_by .selected {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.search_page .search_results_header .sort_by .selected h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
.search_page .search_results_header .sort_by .selected p {
  margin: 0;
}

.search_page .search_results_header .display_type {
  display: flex;
  height: 50px;
  gap: 10px;
}
.search_page .search_results_header .display_type > div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid white;
  filter: drop-shadow(0px 0px 4px #ccc);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.search_page .search_results_header .display_type > div.active {
  border: 1px solid var(--blue);
  background-color: var(--blue);
}
.search_page .search_results_header .display_type > div:hover {
  border: 1px solid var(--blue);
  background-color: var(--blue);
}
.search_page .search_results_header .display_type > div.active svg {
  fill: #fff;
}
.search_page .search_results_header .display_type > div:hover svg {
  fill: #fff;
}

.search_page .search_results_header .save_search {
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2px;
  background: white;
  border: 1px solid white;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 4px #ccc);
  cursor: pointer;
  transition: all 0.3s var(--bc);
  font-weight: 500;
}
.search_page .search_results_header .save_search:hover,
.search_page .search_results_header .save_search.active {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #fff;
}

.search_page .search_results_header > p {
  margin: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 20px;
}

.search_page .search_results_header .save_search svg {
  fill: var(--blue);
  height: 30px;
  width: 30px;
  transform: scaleY(1.15);
}
.search_page .search_results_header .save_search:hover svg,
.search_page .search_results_header .save_search.active svg {
  fill: #fff;
}

.search_page .row_listings {
  padding: 0;
  padding-top: 10px;
}
.search_page .listings {
  grid-template-columns: 1fr 1fr 1fr;
}
input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--blue);
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px var(--blue);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--blue);
  /*  slider progress trick  */
}
.search_page .filters input[type="date"] {
  height: 50px;
  border: 1px solid #fff;
}

.search_page .term {
  padding: 10px;
  background: #fff;
  border: 1px solid var(--blue);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  flex: 1;
  transition: all 0.2s var(--bc);
  cursor: pointer;
  color: var(--blue);
  box-shadow: 0px 0px 8px #ccc;
}
/* .search_page .term:hover {
  background-color: var(--blue);
  color: #fff;
} */
.search_page .term.active {
  background-color: var(--blue);
  color: #fff;
}

.search_page .terms {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.search_page:-webkit-scrollbar {
  width: 8px;
  display: block !important;
  transition: all 0.3 var(--bc);
  display: block;
}

.search_page:-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 10px;
  min-width: 10px;
  transition: all 0.3 var(--bc);
}

.search_page:-webkit-scrollbar-thumb {
  background-color: var(--blue);

  border-radius: 10px;
  transition: all 0.3 var(--bc);
  min-width: 6px;
}

.search_page .filter ._dropdown {
  height: 20px;
  flex: 1;
}

.search_page .filters .apply button {
  height: 100%;
  flex: 1;
  border: 1px solid var(--blue);
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
  font-size: 20px;

  font-family: var(--font2);
  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.search_page .filters .apply button:hover {
  background-color: var(--blue-dark);
  color: white;
}

.search_page .filters div.apply {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  height: 48px;
  margin: 40px 0 0;
}

.search_page .filters button.apply {
  background-color: var(--blue);
  color: white;
}

.search_page .filters button.reset {
  background-color: white;
  color: var(--blue);
}

@media (max-width: 1600px) {
  .search_page .search_content .filters {
    min-width: 260px;
    padding: 12px;
  }

  .search_page .search_content {
    gap: 12px;
  }
  .search_page .search_content .filters .field input {
    font-size: 16px;
    padding: 6px 10px;
  }
  .search_page .filters .filter {
    height: 75px;
  }
  .search_page .filters div.apply {
    height: 36px !important;
    font-size: 16px !important;
    margin: 20px 0 0 !important;
  }
  .search_page .filters div.apply button {
    font-size: 16px !important;
  }

  .search_page .search_content .filters .field h2 {
    font-size: 16px;
  }
  .search_page .search_content .filters .field {
    padding: 6px 0;
  }
  .search_page .search_content .filters .heading {
    font-size: 18px;
  }
  .search_page .term {
    font-size: 14px !important;
    padding: 5px !important;
  }
  .search_page .terms {
    gap: 6px !important;
  }
  svg {
    height: 22px !important;
    width: 22px !important;
  }
}

.not_found_animation {
  border: none;
  width: 100%;
  height: 560px;
  margin: -100px 0 -50px;
  pointer-events: none;
}

.no_results h3 {
  margin: 0;
  font-family: var(--font1);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.search_page ._page_control {
  margin-top: 12px;
}
@media (max-width: 1600px) {
  .search_page .search_main {
    padding: 0 5%;
    margin-top: 80px;
  }
  .search_page .tabs_wrapper {
    padding: 0 5%;
  }
  .search_page .search_content {
    padding: 0 5%;
  }
  .search_page .search_results_header {
    padding: 8px 5%;
  }
}
