._transactions {
  min-width: 900px;
  display: FLEX;
  flex-direction: COLUMN;
  gap: 10px;
}

._transactions .transactions_header h1 {
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  gap: 4px;
  margin: 0;
}
._transactions .transactions_header svg {
  fill: var(--blue);
  height: 30px;
  width: 30px;
}

._transactions .tab {
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 100%;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s var(--bc);
}
._transactions .tab.active,
._transactions .tab:hover {
  background-color: var(--blue);
  color: white;
}

._transactions .selector {
  display: flex;
  height: 40px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  align-items: center;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
}

._transactions .transactions_header {
  display: flex;
  align-items: center;
}
._transactions .headers {
  display: flex;
  justify-content: space-between;
  /* background: #eee; */
  padding: 5px 10px;
}

._transactions .payments .headers p.info {
  margin: 0;
  /* font-weight: 500; */
  font-size: 15px;
}
._transactions .payments p.info {
  margin: 0;
  font-size: 15px;
}
._transactions .payments {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 4px #1114;
}
._transactions .transaction {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #eee;
  transform: all 0.2s var(--bc);
  padding-right: 6px;
}
._transactions .transaction:hover {
  background: #2196f322;
}
._transactions .list {
  overflow-y: scroll;
  min-height: 400px;
  height: 50vh;
}
._transactions p.info {
  width: 28%;
  display: flex;
  align-items: center;
}

._transactions p.more {
  width: fit-content;
  display: flex;
  justify-content: end;
}
._transactions p.desc {
  width: 22%;
}

._transactions p.amount {
  width: 18%;
}
._transactions .list p.amount {
  font-size: 18px !important;
  color: var(--blue);
  font-weight: 600;
}
._transactions *::-webkit-scrollbar {
  width: 8px;
  display: block !important;
}

._transactions *::-webkit-scrollbar-track {
  background: var(--bg);
}

._transactions *::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
  /* border: 3px solid var(--blue); */
}

._transactions p.info button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue);
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 4px;
  /* padding: 4px 20px; */
  height: 36px;
  width: 36px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transform: all 0.1s var(--bc);
}
._transactions p.info button:hover {
  background-color: #1111;
}
._transactions .loader_cont {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment_form .ad_config {
  width: 100%;
  height: fit-content;
  display: block;
  overflow: hidden;
}
._details.payment_form {
  min-height: 560px;
  height: -moz-fit-content;
  height: fit-content;
  align-items: start;
  gap: 40px;
  padding: 0px;
  width: 1000px;
}
._details.payment_form .ad_info_cont {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
._details.payment_form .ad_config {
  padding: 10px;
}

._details.payment_form .left,
._details.payment_form .right {
  padding: 10px;
}
._details.payment_form .saved span {
  font-weight: 500;
  color: #777;
  font-size: 16px;
}
._details.payment_form .saved {
  animation: none;
}
._details.payment_form .saved p {
  margin: 0;
  font-weight: 500;
  font-family: var(--font1);
  font-size: 17px;
}
.details_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 560px;
  width: 100%;
}
.details_loading .lds-ring {
  transform: scale(1.5);
}
