.mobile_checkbox {
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 4px #ccc;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 1.5rem;

}

.mobile_checkbox .checked {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: #fff;
}

.mobile_checkbox svg {
  font-size: 1.5rem;
}


