.faq_page .accordion h1 {
  font-size: 1.5em;
  text-align: left;
  /* color: #555; */
  width: 100%;
  margin: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.faq_page h1.main_header {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  width: 100%;
}

.faq_page .accordion h1 svg {
  height: 44px;
  width: 44px;
  margin-bottom: -12px;
}
.faq_page .FAQ h1 span,
.faq_page .FAQ > div,
.faq_page .FAQ,
.faq_page iframe {
  transition: all 0.3s var(--bc);
}
.faq_page .FAQ.active h1 span {
  transform: rotate(180deg);
}

.faq_page .FAQ > div {
  width: 100%;
  /* margin-top: 20px; */
}
.faq_page iframe {
  width: 100%;
  display: flex;
  object-fit: fill;
  justify-content: start;
  height: 0px;
  align-items: start;
  opacity: 0;
}
.faq_page .FAQ.active iframe {
  height: 560px;
  opacity: 1;
}

.faq_page .content {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 80%; */
  margin: 140px 10% 20px;
  padding: 40px;
  background: white;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.faq_page .FAQ {
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 1px 1px 8px #ccc, -1px -1px 8px #ccc;
  background: white;
  cursor: pointer;
  box-sizing: border-box;
}

.faq_page .accordion {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;
  box-sizing: border-box;
}

.faq_page .desc_row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

@media (max-width: 1600px) {
  .faq_page .content {
    margin: 100px 5% 20px;
  }
  .faq_page .FAQ.active iframe {
    height: 460px;
  }
}

.vp-center {
  display: flex;
  justify-content: start;
  align-items: start;
}
