.manage_ads {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  gap: 16px;
  margin-top: 130px;
  padding-bottom: 0;
}

.manage_ads .tabs {
  display: flex;
  flex: 1 1;
  align-items: center;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  border-radius: 4px;
  overflow: hidden;
  min-width: 620px;
}

.manage_ads .ads_header {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.manage_ads .ad .stats {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 114px;
  margin-left: 10px;
  gap: 5px;
}
.manage_ads .ad .stats p.empty {
  height: 24px;
  width: 80px;
}
.manage_ads .ad .stats p.empty:first-child {
  width: 100px;
}

.manage_ads ._dropdown {
  height: 28px;
  padding: 10px 16px;
  font-size: 18px;
  color: #333;
}
.manage_ads .ads .headings .stats {
  width: 150px;
}
.manage_ads .ad .stats p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  color: #555;
  font-size: 17px;
}
.manage_ads .ad .stats svg {
  fill: var(--blue);
}
.manage_ads ._dropdown .options {
  top: 20px;
  width: calc(100% + 32px);
  min-height: unset;
  overflow: unset;
  background-color: white !important;
}
.manage_ads .options .option {
  font-size: 17px;
  color: #333;
  padding: 12px 16px;
}
.manage_ads .ads_header .selected svg {
  height: 24px;
  width: 24px;
}
.manage_ads .tabs .tab {
  padding: 0 20px;
  font-weight: 500;
  color: #333;
  background: white;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s var(--bc);
  cursor: pointer;
  gap: 4px;
  flex: 1;
  /* width: 150px; */
}

.manage_ads .tabs .tab span {
  font-size: 14px;
  font-weight: 500;
  background: var(--blue);
  font-family: var(--font1);
  padding: 2px 8px;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 4px #1114;
  transition: 0.2s var(--bc);
}
.manage_ads .tabs .tab.active span,
.manage_ads .tabs .tab:hover span {
  background-color: white;
  color: #555;
}
.manage_ads .tabs .tab:first-child {
  flex: 1;
}
.manage_ads .tabs .tab.active,
.manage_ads .tabs .tab:hover {
  background-color: var(--blue);
  color: white;
}

.manage_ads .right .stats {
  width: 100%;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  border-radius: 4px;
  transition: all 0.3s var(--bc);
  background: white;
  min-height: 400px;
}
.manage_ads .right .wallet {
  margin: 0;
}
.manage_ads .ads_header ._dropdown {
  z-index: 11;
}

.manage_ads ._autocomplete input {
  height: 46px;
  border-color: var(--blue);
  font-size: 18px;
  min-width: 240px;
}
.manage_ads ._autocomplete ul {
  top: 52px;
}
.manage_ads .right,
.manage_ads .left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.manage_ads .right {
  width: 24%;
  height: fit-content;
  position: sticky;
  top: -215px;
}

.manage_ads .left {
  flex: 1 1;
  width: 56%;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  min-height: calc(100vh - 150px);
}
.manage_ads .left .ads {
  /* flex: 1; */
  width: 100%;
  flex: 1;
  height: 0px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  border-radius: 4px;
  background: white;
  display: flex;
  flex-direction: column;
}

.manage_ads .ads .main {
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow-y: scroll; */
  transition: all 0.3s var(--bc);
  padding: 0;
  padding-bottom: 20px;
  flex: 1;
  /* justify-content: center; */
}
.manage_ads .ads .main::-webkit-scrollbar {
  width: 8px;
  display: block !important;
}

.manage_ads .ads .main::-webkit-scrollbar-track {
  background: var(--bg);
}

.manage_ads .ads .main::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
  /* border: 3px solid var(--blue); */
}

.manage_ads .ads .main .ad {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 20px;
  position: relative;
  box-sizing: border-box;
  gap: 20px;

  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.manage_ads .ads .main > div {
  border-bottom: 1px solid #eee;
  transition: all 0.3s var(--bc);
}

.manage_ads .ads .main .ad:hover,
.manage_ads .ads .main .ad.active {
  background: #2196f322;
}

.manage_ads .ads .main .ad .ad_info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1;
  justify-content: start;
  align-items: center;
  width: 65%;
}

.manage_ads .ads .main .ad .ad_info .price\&id {
  display: flex;
  justify-content: start;
  color: #333;
  align-items: center;
  font-weight: 500;
  flex-direction: row-reverse;
}
.manage_ads .ads .main .ad .ad_info.emp {
  width: 60%;
  min-width: 450px;
}

.manage_ads .ads .main .ad .ad_info > div {
  display: flex;
  gap: 3px;
  flex-direction: column;
  width: 400px;
  flex: 1;
}

.manage_ads .ads .main .ad .ad_info > img {
  height: 76px;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 130px;
  object-fit: cover;
  max-width: 130px;
  box-shadow: 0px 0px 8px #ccc;
}

.manage_ads .ads .main .ad .ad_info h4,
.manage_ads .ads .main .ad .ad_info p,
.manage_ads .ads .main .ad .ad_info h5 {
  margin: 0;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.manage_ads .ads .main .ad .ad_info h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font1);
}
.manage_ads .ads .main .ad .ad_info h5 {
  font-weight: 500;
  color: #333;
  font-size: 15px;
}
.manage_ads .ads .main .ad .ad_info h5 svg {
  fill: var(--blue);
  height: 20px !important;
  width: 20px !important;
  vertical-align: text-top;
}

.manage_ads .ads .main .ad .ad_info p {
  font-size: 15px;
  color: #333;
}

.manage_ads .ads .top,
.manage_ads .ads .selected_actions {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 20px;
  align-items: center;
  height: 46px;
  position: relative;
  animation: slide_in 0.3s var(--bc) forwards;
}

@keyframes slide_in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.manage_ads .ads .top .query {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid var(--blue);
  border-radius: 4px;
  min-width: 300px;
  flex: 2;
}

.manage_ads .ads .top .query svg {
  height: 26px;
  width: 26px;
  fill: var(--blue);
}

.manage_ads .ads .top .query input {
  border: none;
  outline: none !important;
  color: #333;
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font2);
  flex: 1;
}

.manage_ads .ads .top ._dropdown {
  width: 180px;
}
.manage_ads .ads .ad .price {
  font-weight: 500;
  color: #333;
  display: flex;
  justify-content: start;

  margin: 0;
  align-items: center;
  overflow: hidden;
  font-size: 15px;
  font-family: var(--font1);
}

.manage_ads .ads .ad .price span {
  font-size: 20px;
  color: var(--blue);
  font-weight: 600;
  /* position: relative;
  top: 3px; */
}
.manage_ads .ads .ad div.status {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.manage_ads .ads .ad p.duration {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 4px;
  font-weight: 500;
  color: #333;
  margin: 0;
}
.manage_ads .ads .ad p.duration svg {
  fill: var(--blue);
}
.manage_ads .ads .ad p.status {
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--blue);
  padding: 4px 16px;
  border-radius: 4px;
  text-align: center;
  color: white;
  text-transform: capitalize;
  margin: 0;
}

.manage_ads .ads .ad p.status.paused {
  background: var(--yellow);
  /* background-color: #777; */
}
.manage_ads .ads .ad p.status.expired {
  background: var(--red);
}

.manage_ads .ads .ad .options {
  border: none;
  background: none;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  cursor: pointer;
  transition: all 0.2s var(--bc);
}
.manage_ads .ads .ad .options svg {
  height: 28px;
  width: 28px;
}

.manage_ads .empty {
  background: linear-gradient(90deg, #1111, #1111, #1112);
  background-size: 300%;
  background-position: left center;
  border-radius: 4px;

  animation: skeleton 1s var(--bc) forwards infinite;
}

@keyframes skeleton {
  0% {
    background-position: left center;
  }

  90% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
.manage_ads .ad_loader:hover {
  background-color: white !important;
}

.manage_ads .ads .ad .checkbox.empty {
  height: 24px;
  width: 24px;
}
.manage_ads .ads .ad .img.empty {
  max-width: 130px;
  height: 76px;
  min-width: 130px;
}
.manage_ads .ads .main .ad .ad_info h4.empty {
  height: 23px;
  max-width: 540px;
  width: 100%;
}
.manage_ads .ads .main .ad .ad_info p.empty {
  height: 20px;
  max-width: 500px;
  width: 90%;
}
.manage_ads .ads .main .ad .ad_info h5.empty {
  height: 18px;
  max-width: 400px;
  width: 72%;
}

.manage_ads .ads .ad .status.empty {
  height: 26px;
}
.manage_ads .ad ._checkbox {
  position: absolute;
  left: 20px;
  top: 12px;
  opacity: 0;
  filter: none;
  box-shadow: none;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: all 0.2s var(--bc);
}
.manage_ads .ad:hover ._checkbox,
.manage_ads .ad ._checkbox.checked {
  opacity: 1;
  left: 20px;
}

.manage_ads .ad .hover_info {
  pointer-events: none;
  position: absolute;
  left: calc(100% + 6px);
  box-shadow: 1px 1px 8px #1113, -1px -1px 8px #1113;
  background: white;
  min-width: 360px;
  border-radius: 4px;
  top: 50%;
  padding: 16px;
  box-sizing: border-box;
  transform: translateY(-50%) scale(0.8);
  transform-origin: left center;
  opacity: 0;
  transition: all 0.2s var(--bc);
  will-change: transform;
}
.manage_ads .ad .hover_info:before {
  content: "";
  background: transparent;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  position: absolute;
}
.manage_ads .ad:hover .hover_info {
  pointer-events: all;
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.manage_ads .ad .hover_info p {
  margin: 0;
  height: 32px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: CENTER;
}
.manage_ads .ad .hover_info p span {
  color: #555;
}
.manage_ads .ad .hover_info p span.active {
  color: var(--blue);
}
.manage_ads .ad .hover_info p span.inactive {
  color: var(--red);
}
.manage_ads .ad .hover_info p span.Premium {
  background: var(--yellow);
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
}
.manage_ads .ad .hover_info p span.Standard {
  background: var(--blue);
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
}
.manage_ads .ad .hover_info p span.Basic {
  background: #777;
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
}
.manage_ads .ads .ad button.options.empty {
  min-height: 40px;
  min-width: 40px;
  border-radius: 50% !important;
  background: linear-gradient(90deg, #1111, #1111, #1112);
  background-size: 300%;
}

.manage_ads .no_results {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.manage_ads .not_found_animation {
  border: none;
  width: 100%;
  height: 500px;
  margin: -120px 0 -30px;
  pointer-events: none;
}
.manage_ads .no_results h3 {
  margin: 0;
  font-family: var(--font1);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.manage_ads .ads_footer {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.manage_ads .ads_footer .result_num {
  display: flex;
  align-items: center;

  background: white;
  font-size: 18px;
  font-weight: 500;

  border-radius: 4px;
  padding: 12px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  height: 46px;
  box-sizing: border-box;
  color: #555;
  gap: 4px;
  width: 364px;
  font-family: var(--font1);
}

.manage_ads .ads_footer ._pages {
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  height: 46px;
  flex: 1;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  margin: 0;
  overflow: hidden;
}

.manage_ads .ads_footer ._pages button {
  border: none;

  flex: 1;
  border-radius: unset;
  box-shadow: none !important;
  max-width: 100px;
}

.manage_ads .ads .headings {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  font-weight: 500;
  color: #777;
  align-items: center;
  gap: 20px;
  padding-right: 8px;
}

.manage_ads .ads .headings p {
  margin: 0;
  font-size: 15px;
}

.manage_ads .ads .headings p.info {
  width: 60%;
  min-width: 400px;
}

.manage_ads .ads .headings p.price {
  width: 120px;
}
.manage_ads .ads .headings p.status {
  width: 100px;
}
.manage_ads .ads .headings p.actions {
  font-size: 15px;
}
.css-1nll0aq-MuiResponsiveChart-container > svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 6px #ccc);
}

.manage_ads .ads .ad button.actions {
  /* position: absolute;
  bottom: 12px;
  right: 12px; */
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  color: #444;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.manage_ads .ads .ad button.actions:hover {
  background-color: #1111;
}

.manage_ads .ads .ad button.actions svg {
  height: 32px;
  width: 32px;
  fill: var(--blue);
}

.manage_ads .ads .ad div.actions {
  position: absolute;
  right: 12px;
  top: 12px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  width: 220px;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  border: 1px solid var(--blue);
  transition: all 0.15s var(--bc);
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
  padding: 0;
  z-index: 10;
}
.manage_ads .ads .ad div.actions.active {
  transform: scale(1);
  opacity: 1;
}

.manage_ads .ads .ad div.actions button {
  background: transparent;
  border: none;
  display: flex;
  /* height: 44px; */
  align-items: center;
  justify-content: start;
  color: #333;
  font-size: 16px;
  gap: 8px;
  width: 100%;
  font-weight: 500;
  padding: 12px 16px;
  box-sizing: border-box;
  font-family: var(--font2);
  transition: all 0.3s var(--bc);
  cursor: pointer;
}
.manage_ads .ads .ad div.actions button:first-child {
  padding-top: 14px;
}
.manage_ads .ads .ad div.actions button:last-child {
  padding-bottom: 14px;
}
.manage_ads .ads .ad div.actions button:hover {
  background-color: #1111;
}
.manage_ads .ads .ad div.actions button svg {
  fill: var(--blue);
  height: 24px;
  width: 24px;
}

.manage_ads .ads .selected_actions p {
  color: #555;
  font-weight: 500;
  font-family: var(--font1);
  font-size: 18px;
}

.manage_ads .ads .selected_actions p span {
  color: var(--blue);
  font-weight: 600;
}

.manage_ads .ads .selected_actions .actions {
  display: flex;
  gap: 12px;
}

.manage_ads .ads .selected_actions button {
  height: 42px;
  width: 120px;
  box-sizing: border-box;
  border: 2px solid var(--blue);
  color: white;
  background: #2196f3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 1px 1px 4px #ccc, -1px -1px 4px #ccc;
  transition: all 0.3s var(--bc);
}

.manage_ads .ads .selected_actions button.delete {
  border-color: var(--red);
  background-color: var(--red);
}

.manage_ads .ads .selected_actions button:hover {
  background-color: var(--blue-dark);
  border-color: var(--blue-dark);
}

.manage_ads .more_info {
  box-sizing: border-box !important;
  background-color: white;

  width: 100% !important;

  padding: 20px;

  animation: show_more_info 0.3s var(--bc) forwards;
}
@keyframes show_more_info {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 360px;
    opacity: 100%;
  }
}

.manage_ads .more_info .info_row {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  z-index: 10;
  position: relative;
}
.manage_ads .more_info .info_row h4 {
  font-weight: 500;
  font-size: 16px;
  color: #555;
}

.manage_ads .more_info .info_row_comp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
}
.manage_ads .more_info .info_row_comp span {
  display: flex;
  gap: 6px;
  align-items: center;
  color: #333;
}

.manage_ads .badge {
  box-shadow: 1px 1px 4px #ccc, -1px -1px 4px #ccc;
  border-radius: 4px;
  padding: 5px 12px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: max-content;
}
.manage_ads .hover_info .badges {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  height: fit-content;
}

.manage_ads .badge.active {
  background-color: var(--blue);
  color: white;
}
.manage_ads .badge.paused {
  background-color: #777;
  color: white;
}
.manage_ads .badge.expired {
  background-color: black;
  color: white;
}
.manage_ads .badge.featured {
  background-color: var(--yellow);
  color: black;
}
.manage_ads .badge.homepage {
  background-color: var(--red);
  color: white;
}

.manage_ads .info_row ._dropdown {
  width: 200px;
}
.manage_ads .stats_header {
  height: 32px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
}
.manage_ads .stats_header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.manage_ads .stats_header svg {
  height: 30px;
  width: 30px;
  fill: var(--blue);
}
.manage_ads div.stats {
  /* padding: 16px; */
  box-sizing: border-box;
}

.manage_ads div.stats button.reload {
  background: white;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s var(--bc);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -8px;
}

.manage_ads div.stats button.reload:hover {
  background-color: #1111;
}

.manage_ads .info_row ._dropdown {
  width: 168px;
  height: 20px;
  padding: 8px 8px;
  font-size: 15px;
  color: #333;
}

.manage_ads .info_row ._dropdown .options {
  top: 14px;
  width: calc(100% + 16px);
  min-height: unset;
  overflow: unset;
  background-color: white !important;
}
.manage_ads .info_row ._dropdown .option {
  font-size: 14px;
  color: #333;
  padding: 10px 12px;
}

.manage_ads .info_row ._dropdown svg {
  height: 22px;
  width: 22px;
}

.manage_ads .stats_header span {
  font-size: 16px;
  color: #777;
}

.manage_ads .stats_data {
  padding: 0 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.manage_ads .stats_data .stats_data_comp button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 40px;
  width: 40px;
  margin: -8px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.2s var(--bc);
  cursor: pointer;
}
.manage_ads .stats_data .stats_data_comp button:hover {
  background-color: #1111;
}

.manage_ads .stats_data_comp {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #1114;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  width: 48%;
  box-sizing: border-box;
  overflow: hidden;
}

.manage_ads .stats_data_comp h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  font-size: 20px;
  color: #333;
}
.manage_ads .stats_data_comp h4 span {
  display: flex;
  justify-content: start;
  gap: 4px;
  align-items: center;
  font-weight: 500;
  /* max-width: 80%; */
  overflow: hidden;
}
.manage_ads .stats_data_comp h4 svg {
  fill: var(--blue);
}

.manage_ads .stats_data_comp h2 {
  color: var(--blue);
  font-family: var(--font1);
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 28px;
}
.manage_ads .stats_data_comp h2 span.green {
  font-size: 16px;
  color: #00a000;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.manage_ads .stats_data_comp h2 span.red {
  font-size: 16px;
  color: var(--red);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.manage_ads .stats_labels {
  display: flex;
  padding: 0px 20px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 15px;
  color: #777;
}
.manage_ads .stats_labels span {
  width: 48%;
}
.MuiTooltip-popper {
  z-index: 9999999 !important;
}
.stats_modal {
  /* margin: -30px; */
  margin-bottom: -50px;
}

.stats_modal h2 {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  gap: 4px;
  margin: 0;
  align-items: center;
  justify-content: start;
  color: #333;
}

.stats_modal h2 svg {
  fill: var(--blue);
}

.stats_modal h2 span {
  font-size: 18px;
  color: #777;
}

.stats_modal p {
  font-size: 20px;
  color: var(--blue);
}

.manage_ads .no_stats {
  display: flex;
  height: 80%;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  gap: 12px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.manage_ads .no_stats > div {
  height: 160px !important;
  width: 160px !important;
}
.manage_ads .ad .price.empty {
  width: 120px !important;
  height: 32px;

  /* margin-right: 24px; */
}

.manage_ads .stats_loader .tiles div {
  width: 48%;
  border-radius: 4px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 20px;

  justify-content: space-between;
  box-sizing: border-box;
}
.manage_ads .stats_loader .tiles {
  /* margin-top: 16px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  padding-top: 4px;
  margin-bottom: -20px;
}

.manage_ads .stats_loader .tiles h4 {
  width: 100%;
  height: 24px;
  margin: 0;
}
.manage_ads .stats_loader .tiles p {
  width: 75%;
  height: 32px;
  margin: 0;
}

.manage_ads .stats_loader .headings p {
  margin: 0;
  width: 120px;
  height: 20px;
}
.manage_ads .stats_loader .headings div {
  width: 48%;
}
.manage_ads .stats_loader .headings {
  height: 24px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.css-1nll0aq-MuiResponsiveChart-container {
  width: 100% !important;
}

@media (max-width: 1600px) {
  .manage_ads {
    width: 90%;
  }
  .manage_ads .tabs .tab {
    padding: 16px;
  }
  .manage_ads .stats_loader .tiles {
    gap: 12px;
    padding-bottom: 12px;
  }
  .manage_ads .stats_data_comp {
    padding: 12px;
  }
  .manage_ads .stats_data {
    padding: 0 12px 12px;
  }
  .manage_ads .stats_header {
    padding: 12px;
  }
  .manage_ads .stats_loader .tiles div {
    padding: 12px;
    margin-bottom: 16px;
  }
  .manage_ads .stats_loader .tiles {
    padding: 2px 12px 12px;
    margin-bottom: -16px;
  }
  .manage_ads .stats_labels {
    padding: 0 12px 4px;
  }
  .manage_ads .stats_loader .headings {
    padding: 0px 12px;
  }
}
.manage_ads button.graph {
  margin-left: auto !important;
}
