.post_ad {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
  gap: 20px;
}

.post_ad .main {
  width: 100%;
  padding: 40px 10%;
  display: flex;
}

.post_ad .main .ad_form {
  background-color: var(--fg);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #1114;
  padding: 20px 80px 140px;
  position: relative;
  min-height: 80vh;
  box-sizing: border-box;
}

.post_ad .form_content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.post_ad .container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px 10px;
  align-items: flex-start;
}

.post_ad .col_1 {
  flex: 35%;
  display: grid;
}

.post_ad .col_2 {
  flex: 65%;
}

.post_ad .row {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  box-sizing: border-box;
}

.post_ad .field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.post_ad h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font2);
  color: #333;
}

.post_ad input {
  min-height: 60px;
}

.post_ad .required {
  color: var(--gray);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.post_ad .flex_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 10px;
  box-sizing: border-box;
}

.post_ad .flex_col {
  flex: 1;
}

.post_ad .flex_col:nth-child(1),
.flex_col:nth-child(2) {
  flex: 45%;
}

.post_ad .flex_col:nth-child(3) {
  flex: 20%;
}

.post_ad .btns_cont {
  display: flex;
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
  position: absolute;
  right: 80px;
  bottom: 40px;
  margin-top: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}

.post_ad .btns_cont .discard {
  font-size: 18px;
  width: 140px;
  height: 60px;
  font-weight: 600;
  font-family: var(--font2);
  padding: 16px 20px;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.33s var(--bc);
  box-shadow: 0px 0px 6px #1116;
  cursor: pointer;
}

.post_ad .btns_cont .discard:hover {
  background-color: var(--red);
  color: white;
}

.post_ad .btns_cont .next_btn {
  font-size: 18px;
  width: fit-content;
  height: 60px;
  font-weight: 600;
  font-family: var(--font2);
  padding: 16px 20px;
}

.post_ad ._dropdown .options {
  min-height: auto;
  overflow: visible;
}

.post_ad ._ ._dropdown .options {
  overflow-y: auto;
  max-height: fit-content;
  min-height: 200px;
}
.post_ad ._dropdown .options::-webkit-scrollbar {
  width: 8px;
  display: block !important;
}

.post_ad ._dropdown .options::-webkit-scrollbar-track {
  background: var(--bg);
}

.post_ad ._dropdown .options::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
  /* border: 3px solid var(--blue); */
}

.post_ad .field_container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  position: relative;
}

.post_ad .field_container .field_info {
  width: 40%;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 40px;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post_ad .field_container .input-container,
.post_ad .field_container .dropdowns {
  width: 50%;

  flex: 1;
  gap: 20px;
}
.post_ad input,
.post_ad ._dropdown,
.post_ad .custom_price_input {
  /* border: 1px solid #fff; */
  transition: all 0.3s var(--bc);
}

.post_ad .custom_price_input input {
  border: none !important;
}

.post_ad .field_info p {
  color: #777 !important;
  font-weight: 500;
  margin: 0;
}

.post_ad h4 span,
.post_ad h2 span {
  font-size: 18px;
  color: #aaa;
  font-weight: 500;
}

.post_ad h2 {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  /* margin-top: 50px; */
  /* color: #333; */
}
.post_ad .field_container ._dropdown {
  flex: 1;
}

.post_ad .step3 {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.post_ad ._dropdown .selected {
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}

/* .post_ad .dropdowns */
.post_ad .field_container .dropdowns {
  display: flex;
  gap: 20px;
}

.post_ad ._dropdown hr {
  display: none;
}

.post_ad ._dropdown .option {
  padding: 12px 16px;
  justify-content: start;
  font-size: 18px;
}

.post_ad .tag_inp {
  height: 62px;
  flex: 1;
  filter: drop-shadow(1px 1px 4px #1114);
  background: white;
  border-radius: 4px;
  display: flex;
  gap: 10px;

  border: 1px solid var(--blue);
  transition: all 0.3s var(--bc);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  max-width: 774px;
}

.post_ad .tag_inp input {
  min-height: unset;
  font-size: 20px;
  flex: 1;
  width: 0;
  border: none !important;
  outline: none !important;
  min-width: 100%;
}

.post_ad .tag {
  border-radius: 4px;
  padding: 8px 12px;
  background: #eee;
  font-weight: 500;
  color: #444;
  display: flex;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.post_ad .tag svg {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 1px;
}

.desc_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}

.post_ad .field_container > .options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: end;
}
.post_ad .field_container .radio_option {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #777;
  color: #777;
  box-shadow: 0px 0px 4px #ccc;
  cursor: pointer;
}

.post_ad .field_container .radio_option.active {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #fff;
}

.post_ad .tag pre {
  font-family: inherit !important;
  font-size: inherit !important;
  margin: 0;
  padding: 0;
}

.post_ad .tag_inp::-webkit-scrollbar {
  display: none;
}

.post_ad .location {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 40px 20px;
}

.post_ad .selections {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 30px;
  /* margin: 60px; */
  padding-top: 20px;
}

.post_ad .map {
  height: 270px;
  min-width: 450px;
  display: flex;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #ccc;
  /* flex: 1; */
}

.post_ad .use_current_location {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 100;
  transform: translate(0%, -50%);
  border: none;
  background: transparent;
  color: var(--blue);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  background: white;
}

.post_ad .map.hidden {
  pointer-events: none;
  position: relative;
  overflow: hidden;
}
.post_ad .map.hidden > div {
  filter: blur(4px);
}
.post_ad .map.hidden::before {
  align-items: center;
  justify-content: center;
  content: "Select a location to view map";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  background: transparent;
  width: 100%;
  /* margin: 0 15%; */
  z-index: 1000;
  display: flex;
  /* transform: translateX(50%); */
  /* color: var(--blue); */
  color: #444;
  font-size: 24px;
  font-weight: 500;
  filter: none;
  text-align: center;
}

.ad_form .free {
  color: #777;
  margin-right: auto;
  flex: 1;
  display: block;
}
.post_ad .location_option {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.map .map_marker img {
  filter: drop-shadow(0px 0px 5px #1116);
  transform: translate(-50%);
  position: absolute;
  height: 90px;
  width: 70px;
  bottom: 0;
  left: 0;
  transform: rotateX(45deg) translate(-50%) perspective(10000px);
  /* box-shadow: 10px 10px 10px #888; */
}

.ad_form .current_loc p {
  color: #444;
  font-weight: 500;
  min-width: fit-content;
}

.ad_form .heading {
  margin: 0;
  font-weight: 500;
}

.ad_form .current_loc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-top: -10px;
  cursor: pointer;
  height: 40px;
}

.ad_form .current_loc .text_box p {
  margin: 4px 0px;
  color: var(--blue);
  font-size: 16px;
  font-weight: 500;
}

.ad_form .current_loc .text_box .curr_loc_text {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.ad_form .curr_icon {
  height: 25px;
  width: 25px;
  fill: var(--blue);
}

.pricing_section .package {
  width: 32%;
  border-radius: 4px;
  max-width: 360px;
  min-width: 340px;
  /* filter: drop-shadow(0px 0px 8px #1116); */
  box-shadow: 0px 0px 16px #1114;
  box-sizing: border-box;
  /* overflow: hidden; */
  cursor: pointer;
  position: relative;
  height: 640px;
  transition: all 0.3s var(--bc);
  background-color: white;
  will-change: transform;
}
.pricing_section .package.selected {
  box-shadow: 0px 0px 30px #1114;
}
.pricing_section .package .lower {
  padding: 28px;
  /* display: flex; */
  /* align-items: center; */
}
.pricing_section .package .coloured {
  background: #555;
  padding: 20px;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.pricing_section .package .coloured.Premium {
  background: var(--yellow);
}
.pricing_section .package .coloured.Standard {
  background: var(--blue);
}
.pricing_section .plans {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-direction: row-reverse;
}

.pricing_section .package .icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.pricing_section .package .icon > div {
  width: 200px !important;
  height: 200px !important;
  aspect-ratio: 1 / 1 !important;
  flex-direction: row;
}
.pricing_section h3 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pricing_section .package ._info {
  margin-left: auto;
}
.pricing_section .package h1 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  font-family: var(--font1);
  /* margin-bottom: 10px; */
}
/* .pricing_section .package h1.Standard {
  color: var(--blue);
}

.pricing_section .package h1.Premium {
  color: var(--yellow);
} */

.pricing_section .package .details > div {
  /* font-size: 18px; */
  font-weight: 500;
  /* color: #333; */
  /* border-bottom: 1px solid #eee; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.pricing_section .package .coloured::after {
  z-index: -1;
  content: "";
  position: absolute;
  background: #555;
  height: 40px;
  width: 40px;
  bottom: -20px;
  border-bottom-right-radius: 2px;
  left: 50%;
  transform: rotate(45deg) translate(-50%, +50%);
}
.pricing_section .package .coloured.Premium::after {
  background-color: var(--yellow);
}
.pricing_section .package .coloured.Standard::after {
  background-color: var(--blue);
}
.pricing_section .package .details > div span {
  height: 23px;
  width: 23px;
  background-color: #2196f322;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  /* box-shadow: 0px 0px 8px #ccc; */
}
.pricing_section .package .details > div span.red {
  background: #cd5c5c22 !important;
}

.pricing_section .package .details > div:last-child {
  border: none !important;
}

.pricing_section .package .details svg {
  fill: var(--blue);
  stroke-width: 1;
  stroke: var(--blue);
  height: 18px;
  width: 18px;
}
.pricing_section .package .details .red svg {
  fill: var(--red);
  stroke: var(--red);
}

.pricing_section button.select_package {
  position: absolute;
  bottom: 24px;
  width: calc(100% - 60px);
  margin: auto;
  border: none;
  padding: 10px 20px;
  font-size: 32px;
  background-image: linear-gradient(45deg, var(--blue), var(--blue-dark));
  font-weight: 600;
  color: white;
  font-family: var(--font1);
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
  height: 56px !important;
  box-sizing: border-box;
}

.pricing_section p.free_text {
  font-weight: 500;
  font-size: 14px !important;
  margin: -8px !important;
  margin-bottom: 2px !important;
}

.pricing_section span.fr {
  font-size: 28px;
}
.pricing_section button.select_package p {
  margin: 0;
  font-size: 16px;
  margin-bottom: 4px;
}

.pricing_section button.select_package.Basic {
  background-image: linear-gradient(45deg, #777, #555);
}

.pricing_section button.select_package.Premium {
  background-image: linear-gradient(45deg, var(--yellow), #d5961f);
}

.pricing_section .package.selected {
  transform: scale(1.08);
  /* border: 1px solid var(--blue); */
}

.pricing_section .package.selected::before {
  content: "selected";
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  gap: 4px;
  justify-content: CENTER;
  align-items: center;
  font-size: 16px;

  font-family: var(--font1);

  box-sizing: border-box;
  font-weight: 600;
  padding: 8px 12px;
  color: white;
  z-index: 1;
  background: var(--blue);
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
}

.pricing_section .package.selected.Basic::before {
  background-color: #555;
}
.pricing_section .package.selected.Premium::before {
  background-color: var(--yellow);
}

/* .pricing_section .package.Premium {
  border: 3px solid var(--yellow);
}
.pricing_section .package.Standard {
  border: 3px solid var(--blue);
}
.pricing_section .package.Basic {
  border: 3px solid #777;
}
*/

.pricing_section .add_ons {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 4px;
}
.pricing_section .add_on {
  display: flex;
  width: 100%;
  height: 92px;
  background: white;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
  gap: 20px;
  border-bottom: 1px solid #eee;
}

.pricing_section .add_on h3 {
  font-weight: 500;
  /* margin-right: auto; */
}

.pricing_section .add_on ._info {
  margin-right: auto;
}

.pricing_section .add_on span.price {
  font-size: 24px;
  font-weight: 600;
  color: var(--blue);
  /* margin: 20px; */
  font-family: var(--font2);
  width: 120px;
  text-align: right;
}

.pricing_section .add_on ._dropdown {
  filter: drop-shadow(0px 0px 4px #ccc);
  padding: 6px 16px;
  width: 120px;
}

.pricing_section .add_on ._dropdown .options {
  top: 12px;
}
.pricing_section .add_on ._dropdown .option {
  padding: 8px 16px;
  font-size: 16px;
}

.pricing_section .extra {
  min-height: 100px;
  box-shadow: 0px 0px 8px #ccc;
  margin-bottom: -20px;
}
.pricing_section .extra .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 4px;
  box-sizing: border-box;
}

.pricing_section .extra .info h3 {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}

.pricing_section .extra .info .price {
  margin-left: auto;
  font-size: 30px;
  color: var(--blue);
  font-weight: 600;
}

.pricing_section .extra .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.1s var(--bc);
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top center;
  height: 0;
}
.pricing_section .extra .form.active {
  opacity: 1;
  transform: scaleY(1);
  padding: 20px 0;
  height: fit-content;
}

.pricing_section .extra .form button {
  width: 220px;
  /* border: 1px solid var(--blue);
  background-color: white;
  color: var(--blue); */
}

.pricing_section .no_business_info {
  color: var(--red);
  font-size: 20px;
  font-weight: 500;
}

.pricing_section .business_ov {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

.pricing_section .business_ov img {
  height: 100%;
  width: 100px;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
}

.pricing_section .business_ov > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  gap: 12px;
  padding: 10px 0;
  box-sizing: border-box;
}

.pricing_section .business_ov h4 {
  font-size: 26px;
  font-weight: 600;
}

.pricing_section .business_ov p {
  margin: 0;
  color: #555;
}

.pricing_section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0px 0 60px;
}

.pricing_section .extra {
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  box-sizing: border-box;
  min-height: 100px;
  box-shadow: 0px 0px 8px #ccc;
  margin-bottom: -30px;
  border-radius: 4px;
}

.pricing_section > div {
  margin: 0 60px;
}

.ad_form .tax {
  position: absolute;
  display: flex;
  gap: 30px;
  justify-content: start;
  top: 72px;
  align-items: center;
  right: 0;
}

.ad_form .tax span {
  font-weight: 500;
  font-size: 18px;
}
.ad_form .tax p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #555;
}
.ad_form ._dropdown .selected > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.ad_form ._dropdown .option img,
.ad_form ._dropdown .option svg {
  max-height: 34px;
  width: 34px;
  margin: -4px;
  fill: black !important;
  object-fit: fill;
}
.ad_form ._dropdown .selected > div img,
.ad_form ._dropdown .selected > div svg {
  width: 36px;
  fill: black !important;
  object-fit: fill;
}
@media (max-width: 1600px) {
  .post_ad .main {
    padding: 30px 5%;
  }
  .pricing_section .package {
    min-width: 320px;
    height: 580px;
  }
  .post_ad .main .ad_form {
    padding: 20px 40px 120px;
  }
  .post_ad .main .btns_cont {
    bottom: 40px;
    right: 40px;
  }

  .ad_form .tax {
    gap: 16px;
    font-size: 15px;
  }
  .pricing_section .plans {
    margin: 0;
    gap: 40px;
  }
  .pricing_section > div {
    margin: 0;
  }
  .pricing_section .package .icon {
    height: 160px;
  }
  .pricing_section .package .icon > div {
    width: 160px !important;
    height: 160px !important;
  }
  .pricing_section .package .coloured {
    padding: 16px;
  }
  .pricing_section .package h1 {
    font-size: 32px;
  }
  .pricing_section .package .details > div {
    gap: 6px;
    font-size: 16px;
    padding: 8px 0;
  }
  .post_ad .location {
    margin: 40px 0;
  }
  .pricing_section .extra {
    padding: 10px 20px;
    min-height: unset;
    height: fit-content !important;
  }
  .post_ad .step3 {
    gap: 40px;
  }
  .pricing_section .extra .info {
    height: 75px;
  }
}
.post_ad ._ {
  margin-top: 20px;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.post_ad ._ .field_container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: start;
  position: relative;
  min-width: 400px;
  width: 46%;
  height: 100px;
}

.post_ad ._ .field_container .input_container {
  display: flex;
  flex: 1 1;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  width: 100%;
  height: 54px;
  border: 1px solid var(--blue);
  border-radius: 4px;
}

.post_ad ._ .field_container .input_container input {
  min-height: 100%;
  height: 100%;
  font-size: 18px;
}

.post_ad ._ ._dropdown {
  padding: 10px 16px;
}
.post_ad ._ ._dropdown .options {
  top: 16px;
  gap: 0;
}
